<div class="section">
  <div class="container">
    <div class="section-title">
      <h3>메세지</h3>
      <hr> 
    </div>
    <div class="row">
      <div class="col-12 col-lg-6 no-padding">
        <ul class="list-group">
          <% @messages.each_with_index do |message, index| %>
            <li class="list-group-item no-padding-vertical" onclick="showMessage(this)"
                data-message="<%= message.id %>">
              <div class="row" style="cursor: pointer;">
                <div class="col-2">
                  <h6 class="heading-uppercase">
                    <span class="card-text"><small class="text-muted">
                      <%= message.sender.nickname %>
                    </small></span>
                  </h6>
                </div>
                <div class="col-10">
                  <h6 class="heading-uppercase message-content">
                    <%= truncate message.content, length: 35, omission: "...", escape: false %>
                    <span> (<%= @messages_count[index] %>) </span>
                    <span class="card-text float-right"><small class="text-muted"><%= message.created_at.strftime("%Y / %_m / %_d") %></small></span>
                  </h6>
                </div>
              </div>

            </li>
          <% end %>
        </ul>  

        <ul class="pagination justify-content-center margin-top-70">
          <li class="page-item">
            <%= will_paginate @messages %>
          </li>
        </ul>
    <% if @messages_total.count < Message::PER_PAGE %>
        
      </div>
    <% end %>
      <div id="message-specific" class="col-lg-6" >
        <div class="card">
          <div id="painting-img" class="prevent-rightclick"></div>
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h5 id="artist-name" class="card-title"></h5>
            <div id="message-painting">
              <div id="painting-name">
              </div>
              <div id="painting-img" class="prevent-rightclick">
              </div>
            </div>
            <p id="message-content" class="card-text"></p>
            <div id="reply-btn-area" class="float-right"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'reply' %>

<script>
  let messages = <%= @messages_json.html_safe %>;

  function showMessage(element){

    let messageId = parseInt(element.dataset.message);

    messages.forEach(function(message){
      if(messageId == message.id){
        $.ajax({
          url: '/messages/load_message/' + message.id,
          method: 'GET',
          success: function(){
            console.log("success!!")
          }
        })
      }
    });  
  }
  $(function(){
    let messageSpecific = document.getElementById('message-specific');
    messageSpecific.style.height = window.innerHeight - messageSpecific.getBoundingClientRect().top + 'px';
  })

</script>