<div class="section">
  
  <div class="container">
    <div class="section-title">
      <h3>메세지</h3>
      <hr> 
    </div>
        
    <div class="row">
      <div class="col-6 no-padding">
        <ul class="list-group">
          <% @messages.each do |message| %>
            <li class="list-group-item no-padding-vertical" onclick="showMessage(this)"
                data-message="<%= message.id %>">
              <div class="row" style="cursor: pointer;">
                <div class="col-2">
                  <h6 class="heading-uppercase">
                    <span class="card-text"><small class="text-muted">김희재</small></span>
                  </h6>
                </div>
                <div class="col-10">
                  <h6 class="heading-uppercase message-content">
                    <%= truncate message.content, length: 35, omission: "...", escape: false %>
                    <span class="card-text float-right"><small class="text-muted"><%= message.created_at.strftime("%Y / %_m / %_d") %></small></span>
                  </h6>
                </div>
              </div>
              <!-- <button type="button" 
                    class="btn btn-outline-dark float-right reply-btn"
                    data-seller="<%= message.seller_id %>"
                    data-buyer="<%= message.buyer_id %>"
                    data-buyer-name="<%= message.buyer.nickname %>"
                    <% if message.painting.present? %>
                    data-painting="<%= message.painting_id %>"
                    <% else %>
                    data-painting="-1"
                    <% end %>
                    data-toggle="modal" 
                    data-target="#replyModal">답장</button> -->
                <!-- <div class="accordion-content">
                  <% if message.painting.present? %>
                  <p class="painting-price"><%= message.painting.price %></p>
                  <% end %>
                  <p class="sender-nickname"><%= User.find(message.buyer_id).nickname %>
                  <button type="button" 
                    class="btn btn-outline-dark float-right reply-btn"
                    data-seller="<%= message.seller_id %>"
                    data-buyer="<%= message.buyer_id %>"
                    data-buyer-name="<%= message.buyer.nickname %>"
                    <% if message.painting.present? %>
                    data-painting="<%= message.painting_id %>"
                    <% else %>
                    data-painting="-1"
                    <% end %>
                    data-toggle="modal" 
                    data-target="#replyModal">답장</button>
                  </p>
                </div> -->
            </li>
          <% end %>
        </ul>  
      </div>
      <div id="message-specific" class="col-6">
        <div class="card">
          <div id="painting-img"></div>
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h5 id="message-sender" class="card-title">Card title</h5>
            <div id="message-painting">
              <div id="painting-name">
              </div>
              <div id="painting-img">
              </div>
            </div>
            <p id="message-content" class="card-text"></p>
            <div id="reply-btn-area" class="float-right"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'reply' %>
<script>
  let messages = <%= @messages_json.html_safe %>;
  
  function showMessage(element){

    let messageId = parseInt(element.dataset.message);

    messages.forEach(function(message){
      if(messageId == message.id){
        $.ajax({
          url: '/messages/load_message/' + message.id,
          method: 'GET',
          success: function(){
            console.log("success!!")
          }
        })
      }
    });  
  }
  $(function(){
    let messageSpecific = document.getElementById('message-specific');
    messageSpecific.style.height = window.innerHeight - messageSpecific.getBoundingClientRect().top + 'px';
  })
</script>