<div class="section">
  <div class="container">
    <div class="section-title">
      <h3>메세지</h3>
    </div>
    <div class="row">
      <div class="col-6">
        <h4>쪽지함</h4>
        <ul class="list-group">
          <% @messages.each do |message| %>
            <li class="list-group-item" onclick="showMessage(this)"
                data-message="<%= message.id %>">
              <div>
                <h6 class="heading-uppercase message-content"><%= message.content %></h6>
              </div>
              <button type="button" 
                    class="btn btn-outline-dark float-right reply-btn"
                    data-seller="<%= message.seller_id %>"
                    data-buyer="<%= message.buyer_id %>"
                    data-buyer-name="<%= message.buyer.nickname %>"
                    <% if message.painting.present? %>
                    data-painting="<%= message.painting_id %>"
                    <% else %>
                    data-painting="-1"
                    <% end %>
                    data-toggle="modal" 
                    data-target="#replyModal">답장</button>
                <!-- <div class="accordion-content">
                  <% if message.painting.present? %>
                  <p class="painting-price"><%= message.painting.price %></p>
                  <% end %>
                  <p class="sender-nickname"><%= User.find(message.buyer_id).nickname %>
                  <button type="button" 
                    class="btn btn-outline-dark float-right reply-btn"
                    data-seller="<%= message.seller_id %>"
                    data-buyer="<%= message.buyer_id %>"
                    data-buyer-name="<%= message.buyer.nickname %>"
                    <% if message.painting.present? %>
                    data-painting="<%= message.painting_id %>"
                    <% else %>
                    data-painting="-1"
                    <% end %>
                    data-toggle="modal" 
                    data-target="#replyModal">답장</button>
                  </p>
                </div> -->
            </li>
          <% end %>
        </ul>  


      </div>
      <div id="message-specific" class="col-6" style="border: 1px solid #e6e6e6;">
        <h4>상세 내용</h4>
        
        <div id="message-sender">

        </div>
        <div id="message-painting">
          <div id="painting-name">

          </div>
          <div id="painting-img">

          </div>

        </div>
        <div id="message-content">

        </div>

      </div>
    </div>
  </div>
</div>

<%= render 'reply' %>

<script>
  let messages = <%= @messages_json.html_safe %>;
  
  function showMessage(element){

    let messageId = parseInt(element.dataset.message);

    messages.forEach(function(message){
      if(messageId == message.id){
        
        $.ajax({
          url: '/messages/load_message/' + message.id,
          method: 'GET',
          success: function(){
            console.log("success!!")
          }
        })
        
      }
    });  
  }
  $(function(){
    
    let messageSpecific = document.getElementById('message-specific');
    messageSpecific.style.height = window.innerHeight - messageSpecific.getBoundingClientRect().top + 'px';
  })
</script>