<div class="section">
  <div class="container">
    <div class="section-title">
      <h3>메세지</h3>
      <hr> 
    </div>
    <div class="row">
      <div class="col-12 col-lg-6 no-padding">
        <ul class="list-group">
          <% @messages.each_with_index do |message, index| %>
            <%= link_to message_path(message) do %>
              <li class="list-group-item no-padding-vertical""
                  data-message="<%= message.id %>">
                <div class="row" style="cursor: pointer;">
                  <div class="col-3">
                    <h6 class="heading-uppercase">
                      <span class="card-text"><small class="text-muted">
                        <%= message.sender.nickname %>
                      </small></span>
                    </h6>
                  </div>
                  <div class="col-9">
                    <h6 class="heading-uppercase message-content">
                      <%= truncate message.content, length: 35, omission: "...", escape: false %>
                      <span> (<%= @messages_count[index] %>) </span>
                      <span class="card-text float-right"><small class="text-muted"><%= message.created_at.strftime("%Y / %_m / %_d") %></small></span>
                    </h6>
                  </div>
                </div>

              </li>
            <% end %>
          <% end %>
        </ul>  
      </div>
    
    </div>
  </div>
</div>

</script>