<!-- Home section -->
<div class="section">
  <div class="bg-white-08">
    <div class="wrapper wrapper-padding">
      <div class="row col-spacing-50">
        <div class="col-12 col-lg-3">
          <% if @user.image.present? %>
            <!-- <img class="box-shadow-with-hover" src="<%= @user.image.url %>" alt=""> -->
            <img class="box-shadow-with-hover" src="/images/col-4-tall.jpg" alt="">
          <% end %>
        </div>
        <div class="col-12 col-lg-5" style="cursor: pointer;">
          <p class="artist-name">
            <%= @user.nickname %>
            <% if user_signed_in? && @user.id == current_user.id %>
              <%= link_to edit_profile_path(@user.id) do %>
                <button type="button" class="btn btn-outline-dark profile-edit-btn">수정</button>
              <% end %>
            <% end %>
          </p>
          <ul class="list-horizontal-dash margin-bottom-20 margin-top-20">
            <% @user_category.each do |category| %>
              <li class="heading-uppercase text-dark"><%= category.name %></li>
            <% end %>
          </ul>
          <ul class="list-horizontal-unstyled margin-bottom-20">
            <% if @user.instagram.present? %>
              <li>
                <%= link_to "#{ @user.instagram }", target: "_blank", rel: "noopener noreferrer" do %>
                  <i class="fab fa-instagram"></i>
                <% end %>
              </li>
            <% end %>
          </ul>
          <div>
            <% if @user.desc.present? %>
              <p><%= @user.desc %></p>
            <% end %>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="row margin-top-area align-items-center" style="border-left: 2px solid #0021F5">
            <div class="col-4 text-center">
              <p class="profile-text">게시글</p>
              <p class="profile-info-text margin-top-20"><%= @user.paintings.count %></p>
            </div>
            <div class="col-4 text-center" data-toggle="modal" data-target="#followerModal">
              <p class="profile-text">팔로워</p>
              <p class="profile-info-text margin-top-20"><%= @user.followed.count %></p>
            </div>
            <div class="col-4 text-center" data-toggle="modal" data-target="#followingModal">
              <p class="profile-text">팔로우</p>
              <p class="profile-info-text margin-top-20"><%= @user.follows.count %></p>
            </div>
          </div>
        </div>
      </div><!-- end row -->
    </div><!-- end container -->
  </div>
  <!-- Line section -->
  <div class="section" style="margin-bottom: 100px">
    <% if !@is_mobile %>
      <%= render 'layouts/line', paintings_json: @paintings_json %>
    <% end %>
  </div>
  <!-- End Line section -->
</div>
<!-- end Home section -->


<!-- Portfolio section -->
<div class="section bg-white" style="z-index: 1">
  <div class="wrapper wrapper-padding">
    <div class="section-title" style="margin-bottom: 20px;">

      <div class="row">
        <div class="col-md-8">
          <p class="artwork-text">Artworks</p>
        </div>
        <div class="col-md-4">
          <% if current_user.user_type != "seller" %>
            <%= link_to "작품 등록", register_seller_path, class: "big-button-link-register-seller" %>
          <% end %>
        </div>
      </div>   
      <!-- <div class="divider-zigzag divider-zigzag-color-black-07">
        <span></span><span></span><span></span>
      </div> -->

      <div class="hr hr-thinner bg-blue margin-top-10 margin-bottom-20">
      </div>
    </div>





    <!-- Portfolio filter -->
    <% if @user.paintings.present? %>
      
      <div class="filter filter-style-4 margin-bottom-50">
        <% if false %>
        <ul>
          <li class="active" data-filter="*">All</li>
         
          <% @user_category.each_with_index do |category, index|%>
            <li data-filter=".category-<%= index %>"><%= category.name %></li>
          <% end %>
        </ul>
        <% end %>
      </div>
      
      <!-- end Portfolio filter -->
      <div class="portfolio-wrapper column-4 spacing-10">
        <!-- Portfolio box 1 -->
        <% @user_category.each_with_index do |category, index|%>
          <% category.filter_paintings(user: @user).each do |painting| %>
            <%= link_to painting_path(painting) do %>
              <div class="portfolio-item category-<%= index %>">
                <div class="portfolio-box">
                  <div class="portfolio-img">
                    <img src="<%= painting.thumbnail.url %>" alt="">
                  </div>
                  <div class="portfolio-title prevent-rightclick">
                    <div>
                      <h5 class="font-weight-normal"><%= painting.name %></h5>
                      <span><%= category.name %></span>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div><!-- end portfolio-wrapper-->
    <% end %>
  </div><!-- end container -->
</div>
<!-- end Portfolio section -->

<!-- Products Slider -->
<% if @liked_paintings.present? %>
  <div class="section border-top">
    <div class="container">
      <div class="section-title">
        <h3>최근 좋아요</h3>
      </div>
      <div class="owl-carousel" data-owl-nav="true" data-owl-dots="false" data-owl-margin="30" data-owl-xs="1" data-owl-sm="2" data-owl-md="3" data-owl-lg="4" data-owl-xl="4">
        <!-- Product Slider box 1 -->
        
        <% @liked_paintings.each do |painting| %>
          <div class="product">
            <div class="product-img prevent-rightclick">
              <%= link_to painting_path(painting) do %>
                <% if painting.thumbnail.present? %>
                  <img src="<%= painting.thumbnail.url %>" alt="">
                <% end %>
                <!-- <div class="product-sale">
                  <h6 class="heading-uppercase">-30%</h6>
                </div> -->
              <% end %>
              <!-- <div class="product-img-hover">
                <h6 class="heading-uppercase"><a href="#">보러가기</a></h6>
              </div> -->
            </div><!-- end product-img -->
            <div class="product-info">
              <h6>
                <%= link_to painting_path(painting) do %>
                  <%= painting.name %>
                <% end %>
              </h6>
              <!-- Product Category -->
              <!-- <ul class="list-horizontal">
                <li><a href="#">Men</a></li>
                <li><a href="#">Clothing</a></li>
              </ul> -->
              <!-- Product Price -->
              <!-- <div class="product-price">
                <h6><span>$29</span>$20</h6>
              </div> -->
              <!-- Add to Wishlist button -->
              <!-- <a class="product-wishlist" href="#">
                <i class="far fa-heart"></i>
              </a> -->
              <!-- Product Rating -->
              <!-- <div class="product-rating">
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="far fa-star"></i></span>
              </div> -->
            </div><!-- end product-info -->
          </div>
        <% end %>
      </div><!-- end owl-carousel -->
    </div><!-- end container -->
  </div>
<% end %>
<!-- end Products Slider -->

<%= render 'layouts/follower_modal' %>
<%= render 'layouts/following_modal' %>
<script>
  function followUser(element){
    <% if user_signed_in? %>
      let list = element.closest('.list-group-item');
      
      let isFollowing = element.dataset.following == 'true';
      let dataUser = parseInt(element.dataset.user);
      
      let followerId = <%= current_user.id %>;
      let followeeId = dataUser;

      
      $.ajax({
        url: '/follow/' + followerId + '/' + followeeId,
        method: 'GET',
        success: function(){
          if(!isFollowing){
            // 원래 상태가 언팔로우인 경우
            console.log('follow')
            element.dataset.following = 'true';
            element.innerText = '언팔로우';
            
          } else {
            console.log('unfollow')
            element.dataset.following = 'false';
            element.innerText = '팔로우';
          }
        }
      })
    <% end %>
  }
</script>