<div class="section">
  <div class="container">
    <h2>비밀번호 변경</h2>
    <div class="row">
      <div class="col-12 col-md-6 margin-top-area">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group">
            <%= f.label :password, '새 비밀번호' %> <i>(변경하지 않으려면 빈칸)</i><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> 글자 이상</em>
            <% end %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, '새 비밀번호 확인' %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :current_password, '현재 비밀번호' %> <i>(수정 사항을 반영하려면 현재 비밀번호가 필요합니다.)</i><br />
            <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "수정하기" %>
          </div>
        <% end %>

        <h3>탈퇴</h3>

        <p><%= button_to "회원 탈퇴", registration_path(resource_name), data: { confirm: "정말 회원 탈퇴하시겠습니까?" }, method: :delete %></p>

        <%= link_to :back do %>
          <button class="btn btn-outline-dark">뒤로가기</button>
        <% end %>
      </div>
      <div class="col-12 col-md-6">
        <img src="/images/sample_image1.jpeg" style="width: 100%;" alt="">
      </div>
    </div>
  </div>
</div>