<div class="comment-box">
  <div class="comment-user-avatar">
    <%  if magazine_comment.user.image.present? %>
      <img class="magazine-comment-image" src="<%= magazine_comment.user.image.url %>" alt="">
    <% else %>
      <i class="fa fa-user"></i>
    <% end %>
  </div>
  <div class="comment-content">
    <span class="comment-time"><%= magazine_comment.created_at.strftime("%Y년 %m월 %d일") %></span>
    <%= link_to profile_path(magazine_comment.user) do %>
      <h6 class="font-weight-normal"><%= magazine_comment.user.nickname %></h6>
    <% end %>
      <p>
        <%= magazine_comment.content %>
        <% if user_signed_in? && magazine_comment.user == current_user %>
          <%= link_to magazine_comment_path(magazine_comment), 
            method: :delete, 
            data: {
              "remote": "true"
            } do 
          %>
            <button style="font-style: italic;" class="float-right">삭제</button>
          <% end %>
        <% end %>
      </p>
  </div>
</div>