<!-- Modal -->
<div class="modal fade" id="mobileFilter" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
  <div class="modal-dialog mobile" role="document">
    <div class="modal-content mobile">
      <div class="modal-header">
        <h5 class="modal-title" id="filterModalLabel">필터</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span style="font-size: 1rem;" aria-hidden="true">완료</span>
        </button>
      </div>
      <div class="modal-body mobile">
        <div class="row">
         <!-- Sidebar -->
          <div class="col-12">
            <input type="hidden" id="painting_status" value="sale">
            <select style="width: 50%;" class="custom-select" id="sale-category" onchange="filterByStatus(event)">
              <% Painting.options_for_status.each do |option| %>
                <option value="<%= option[1] %>"><%= option[0] %></option>
              <% end %>
              <option value="all">전체</option>
            </select>

            <div class="margin-top-20" id="priceCollapse">
              <h5 class="float-left font-weight-light margin-bottom-20">
                Price
                <a href="javascript:void(0);" class="float-right">+</a>
              </h5>
              <p>
                <input style="padding-left: 0px; padding-right: 0px; border:0;" type = "text" id = "price" >
              </p>
              <div id ="slider"></div>
            </div>
           <input type="hidden" id="min_price">
           <input type="hidden" id="max_price">
            <% if false %>
            <div data-toggle="collapse" href="#priceCollapse" role="button" aria-expanded="false" aria-controls="priceCollapse" class="col-12 margin-top-20">
              <!-- Sidebar box 3 - Size -->
              <div class="mobile">
                
                <h5 class="float-left font-weight-light margin-bottom-20">
                  Price
                  <a href="javascript:void(0);" class="float-right">+</a>
                </h5>
                <br>
                <!-- <div id="priceCollapse">
                  <p>
                    <input style="padding-left: 0px; padding-right: 0px; border:0;" type = "text" id = "price" >
                  </p>
                  <div id ="slider"></div>
                </div>
               <input type="hidden" id="min_price">
               <input type="hidden" id="max_price"> -->
                <!-- <div class="row margin-top-20">
                  <ul id="priceCollapse" class="nodots shop-sidebar-size collapse">
                    <% @prices.each_with_index do |price, index| %>
                      <li class="text-left margin-top-10">
                        <%= link_to "javascript:void(0);",
                        data: { price: price.id },
                        onclick: "filterByPrice(this)",
                        class: "price-option option" do %>
                          <% cheap_price = index!= 0 ? number_to_currency(@prices[index-1].value, unit: '', precision: 0) : 0 %>
                          <%= cheap_price %>원
                          - <%= number_to_currency(price.value, unit: '', precision: 0) %>원
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                </div> -->
              </div>
            </div>
            <% end %>
            <!-- Sidebar box 1 - Category -->
            <div data-toggle="collapse" href="#categoryCollapse" role="button" aria-expanded="false" aria-controls="categoryCollapse" class="mobile margin-top-20">
              <br>
              <h5 class="float-left font-weight-light margin-bottom-20">
                Category
                <a href="javascript:void(0);" class="float-right">+</a>
              </h5>
              <br>
              <div class="row margin-top-20">
                <ul id="categoryCollapse" class="nodots shop-sidebar-category collapse">
                  <% @categories.each do |category| %>
                    <li class="text-left margin-top-10">
                      
                      <%= link_to "javascript:void(0);", 
                          data: { category: category.id }, 
                          onclick: "filterByCategory(event)",
                          class: "category-option option" do %>
                        <%= category.name %> 
                        <span><%= category.paintings.count %></span>
                      <% end %>
                      
                    </li>
                  <% end %>
                </ul>
            </div>
            </div>
          </div>

          <div class="col-12 margin-top-20">
            <!-- Sidebar box 2 - Color -->
            <div data-toggle="collapse" href="#colorCollapse" role="button" aria-expanded="false" aria-controls="colorCollapse" class="mobile">
              <h5 class="float-left font-weight-light">
                Color
                <a href="javascript:void(0);" class="float-right">+</a>
              </h5>
              <br>
              <div class="row margin-top-20">
                <ul id="colorCollapse" class="nodots shop-sidebar-color collapse">
                  <% @colors.each do |color| %>
                    <li class="text-left margin-top-10">
                      <%= link_to "javascript:void(0);",
                          data: { color: color.id },
                          onclick: "filterByColor(event)",
                          class: "color-option option" do %>
                        <%= color.name %> 
                        <span style="background: <%= color.hex %>"></span>
                      <% end %>
                    </li>
                  <% end %>
                  <!-- You can use (style="background: ..") to set custom colors 
                    <li><a href="#">Custom Color <span style="background: #ff7373"></span></a></li> -->
                </ul>
              </div>
            </div>
          </div>
         
        
        </div>
      </div>
      
    </div>
  </div>
</div>