<div class="col-6 col-md-6 col-lg-4 product item animated fadeIn">
  <div class="product-img">
    <%= link_to painting_path(painting) do %>
      <!-- !!!!@# -->
        <% if painting.thumbnail.present? && painting.thumbnail.url.present? %>
      <img src="<%= painting.thumbnail.url %>" alt="">
      <% else %>
        <img src="/images/col-3-tall.jpg" alt="">
      <% end %>
      <!-- Badge: Sale -->
      <!-- <div class="product-sale">
        <h6 class="heading-uppercase">-30%</h6>
      </div> -->
      <!-- Badge: New -->
      <!-- <div class="product-new">
        <span class="heading-uppercase">New</span>
      </div> -->
    <% end %>
    <% if !@is_mobile %>
      <div class="product-img-hover text-right" >
        <div class="text-left">
          <ion-icon 
            id="like-button" 
            onclick="likeButtonClicked(this)" 
            data-painting="<%= painting.id %>"
            data-likes="<%= painting.likes.count %>"
            class="like-button" 
            <% if painting.user_likes?(current_user) %>
            name="heart"
            data-liked="true"
            <% else %>
            data-liked="false"
            name="heart-empty"
            <% end %>
          ></ion-icon>
          <span class="like-counts">
            <%= painting.likes.count %>
          </span>
        </div>
        <%= link_to painting_path(painting) do %>
          <%= painting.name %>
        <% end %>
        <span>
          <%= painting.category.name %>
        </span>
        <p style="font-size: 12px">
          <%= number_to_currency(painting.price, unit: '￦', precision: 0) %>
        </p>
        
      </div>
    <% end %>
  </div><!-- end product-img -->
  
  <div class="product-info">
    <% if @is_mobile %>
      <h6>
        <div class="text-left">
          <ion-icon 
            id="like-button" 
            onclick="likeButtonClicked(this)" 
            data-painting="<%= painting.id %>"
            data-likes="<%= painting.likes.count %>"
            class="like-button" 
            <% if painting.user_likes?(current_user) %>
            name="heart"
            data-liked="true"
            <% else %>
            data-liked="false"
            name="heart-empty"
            <% end %>
          ></ion-icon>
          <span class="like-counts">
            <%= painting.likes.count %>
          </span>
        </div>

        <a href="#">
          <%= painting.name %>
        </a>
      </h6>
      <ul class="list-horizontal">
        <li>
          <%= painting.category.name %>
        </li>
      </ul>
    
      <!-- Product Price -->
      <div class="product-price float-right text-right">
        <a  data-toggle="collapse" 
            href="#painting-price-<%= painting.id %>" 
            role="button" 
            aria-expanded="false" 
            aria-controls="collapseExample"
            style="font-size: 12px;">
          Price
        </a>
        <div class="collapse" id="painting-price-<%= painting.id %>">
          <p style="font-size: 12px">
            <%= number_to_currency(painting.price, unit: '￦', precision: 0) %>
          </p>
        </div>
      </div>
    <% end %>
    <!-- Add to Wishlist button -->
    <a class="product-wishlist" href="#">
      <i class="fa fa-heart-o"></i>
    </a>
    <!-- Product Rating -->
    <!-- <div class="product-rating">
      <span><i class="fas fa-star"></i></span>
      <span><i class="fas fa-star"></i></span>
      <span><i class="fas fa-star"></i></span>
      <span><i class="fas fa-star"></i></span>
      <span><i class="fas fa-star"></i></span>
    </div> -->
  </div><!-- end product-info -->
</div>

<script>
  function likeButtonClicked(element){
    <% if user_signed_in? %>
      
      let painting_id = parseInt(element.dataset.painting);
      let likeCounts = parseInt(element.dataset.likes);
      let likeCountsArea = element.parentNode.getElementsByClassName('like-counts')[0];
      let liked = element.dataset.liked == 'true';

      $.ajax({
        method: 'GET',
        url: '/likes/toggle_like/'+ painting_id,
        success: function(){
          if(liked){
            element.setAttribute('name', 'heart-empty');
            element.dataset.liked = 'false';
            element.dataset.likes = likeCounts - 1;
            likeCountsArea.innerText = likeCounts - 1;
          } else {
            element.setAttribute('name', 'heart');
            element.dataset.liked = 'true';
            element.dataset.likes = likeCounts + 1;
            likeCountsArea.innerText = likeCounts + 1;
          }
          
        },
        fail: function(){
          // rollback
          if(liked){
            element.setAttribute('name', 'heart-empty');
            element.dataset.liked = 'false';
            likeCountsArea.innerText = likeCounts - 1;
            element.dataset.likes = likeCounts - 1;
          } else {
            element.setAttribute('name', 'heart');
            element.dataset.liked = 'true';
            likeCountsArea.innerText = likeCounts + 1;
            element.dataset.likes = likeCounts + 1;
          }
          
        }
      });
    <% end %>
  }
</script>