<% if !@is_mobile %>
<!-- Products section -->
<div class="section padding-top-0">
  <div class="wrapper">
    <div class="header-area">
      <p class="header-text">착 & 찍</p>
    </div>
    <div class="hr hr-thinner margin-top-10"></div>
    <div class="margin-top-20 hr orange hr-thick"></div>
    <div class="margin-top-20 hr orange hr-thick"></div>
    <div class="margin-top-20 hr orange hr-thick"></div>
  </div>
</div>

<div class="section">
    
  <div class="wrapper">
    <div class="row">
      <!-- Products -->
      <div class="col-12 col-lg-9 col-xl-10 order-lg-2">
        <div class="row align-items-center">
          <div class="col-2 text-left">
            <% if @only_commerce %>
              <input type="hidden" id="painting_status" value="commerce">
            <% else %>
              <input type="hidden" id="painting_status" value="sale">
            <% end %>
            <select class="custom-select" id="sale-category" onchange="filterByStatus(event)">
              <% Painting.options_for_status.each do |option| %>
                <% if @only_commerce && option[1] == "commerce" %>
                  <option selected value="<%= option[1] %>"><%= option[0] %></option>
                <% else %>
                  <% if !@only_commerce && option[1] != "commerce" %>
                    <option value="<%= option[1] %>"><%= option[0] %></option>
                  <% end %>
                <% end %>
              <% end %>
              <option value="all">전체</option>
            </select>
          </div>
          <div class="col-7"></div>
          <div class="col-3 text-right">
            
            <form id="painting-search" action="<%= painting_search_path %>">
              <div class="input-group">
                <input type="hidden" id="search_category" name="search_category" value="title">
                <input type="text" id="search_query" name="search_query" class="form-control" aria-label="Text input with segmented dropdown button">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-outline-dark no-border-radius">검색</button>
                  <button type="button" class="btn btn-outline-dark no-border-radius dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu">
                    <a onclick="searchCategoryClicked(this)" data-category="artist" class="dropdown-item" href="#">작가명</a>
                    <a onclick="searchCategoryClicked(this)" data-category="title" class="dropdown-item" href="#">작품명</a>
                  </div>
                </div>
              </div>
              <span id="search-category-label">작품명</span>
            </form>

            
          </div>
        </div>
        
        <% if user_signed_in? && current_user.user_type == 'seller' %>
          <%= link_to new_painting_path do %>
            <button type="button" class="btn btn-outline-dark float-right margin-top-20">작품 등록하기</button>
          <% end %>
        <% end %>
        
        <div id="paintings-container" class="row product-wrapper product-hover-style-2 margin-top-50">
          
          <% @paintings.each do |painting| %>
            <%= render 'painting', painting: painting %>
          <% end %>
          
          <div id="infinite-scrolling" style="display: none;">
            <%= will_paginate @paintings %>
          </div>

        </div>
      </div>
      
      <!-- Sidebar -->
      <div class="col-12 col-lg-3 col-xl-2 order-lg-1 shop-sidebar">
        <!-- Sidebar box 1 - Category -->
        <div class="shop-sidebar-box">
          <h5 class="font-weight-light margin-bottom-20">
            Category
            <ion-icon onclick="filterInit('category')" name="sync" class="float-right"></ion-icon>
          </h5>
          <ul class="shop-sidebar-category">
            <% @categories.each do |category| %>
              <li>
                
                <%= link_to "javascript:void(0);", 
                    data: { category: category.id }, 
                    onclick: "filterByCategory(event)",
                    class: "category-option option" do %>
                  <%= category.name %> 
                  <span><%= category.paintings.count %></span>
                <% end %>
                
              </li>
            <% end %>
          </ul>
        </div>

        <!-- Sidebar box 3 - Size -->
        <div class="shop-sidebar-box">
          <h5 class="font-weight-light margin-bottom-20">
            Price
            <!-- <ion-icon onclick="filterInit('price')" name="sync" class="float-right"></ion-icon> -->
          </h5>
          <!-- <div class="slidecontainer">
            <input id="priceRange" type="range" min="1" max="100" value="50" class="slider">
          </div> -->
           <p>
              <!-- <label for = "price">Price range:</label> -->
              <input style="padding-left: 0px; padding-right: 0px; border:0;" type = "text" id = "price" >
              
           </p>
           <div id ="slider"></div>
           <input type="hidden" id="min_price">
           <input type="hidden" id="max_price">
          <!-- <ul class="shop-sidebar-size">
            <% @prices.each_with_index do |price, index| %>
              <li>
                <%= link_to "javascript:void(0);",
                data: { price: price.id },
                onclick: "filterByPrice(this)",
                class: "price-option option" do %>
                  <% cheap_price = index!= 0 ? number_to_currency(@prices[index-1].value, unit: '', precision: 0) : 0 %>
                  <%= cheap_price %>원
                  - <%= number_to_currency(price.value, unit: '', precision: 0) %>원
                <% end %>
              </li>
            <% end %>
          </ul> -->
        </div>

        <!-- Sidebar box 2 - Color -->
        <div class="shop-sidebar-box">
          <h5 class="font-weight-light margin-bottom-20">
            Color
            <ion-icon onclick="filterInit('color')" name="sync" class="float-right"></ion-icon>
          </h5>
          <ul class="shop-sidebar-color">
            <% @colors.each do |color| %>
              <li>
                <%= link_to "javascript:void(0);",
                    data: { color: color.id },
                    onclick: "filterByColor(event)",
                    class: "color-option option" do %>
                  <%= color.name %> 
                  <span style="background: <%= color.hex %>"></span>
                <% end %>
              </li>
            <% end %>
            <!-- You can use (style="background: ..") to set custom colors 
              <li><a href="#">Custom Color <span style="background: #ff7373"></span></a></li> -->
          </ul>
        </div>
        
      </div>
      
    </div><!-- end row -->
  </div><!-- end container -->
</div>
<!-- end Products section -->
<% else %>
<!-- MOBILE MODE -->
<div class="section">
  <div class="container">
    <div class="row">
      
      <!-- Products -->
      <div class="col-12 col-lg-9 order-lg-2">
        <div class="row align-items-center">
          <div class="col-6 text-left">
            <%= link_to new_painting_path do %>
              <button type="button" class="btn btn-outline-dark">작품 등록하기</button>
            <% end %>
          </div>
          <div class="col-6 text-right">
            <!-- <select class="custom-select">
              <option selected>Newest</option>
              <option value="1">Sort by Popularity</option>
              <option value="1">Sort by Rating</option>
              <option value="2">Sort by Price: high to low</option>
              <option value="3">Sort by Price: low to high</option>
            </select> -->

            <!-- Button trigger modal -->
            <button data-toggle="modal" data-target="#mobileFilter" type="button" class="btn btn-outline-dark">필터</button>
            
            <%= render 'filter_mobile' %>

          </div>
          
          
        </div>
        <div class="row margin-top-20">
            
          <div class="col-12">
            <form id="painting-search" action="<%= painting_search_path %>">
              <div class="input-group">
                <input type="hidden" id="search_category" name="search_category" value="title">
                <button type="button" class="btn btn-outline-dark no-border-radius dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <input type="text" id="search_query" name="search_query" class="form-control" aria-label="Text input with segmented dropdown button">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-outline-dark no-border-radius">검색</button>
                  
                  <div class="dropdown-menu">
                    <a onclick="searchCategoryClicked(this)" data-category="artist" class="dropdown-item" href="#">작가명</a>
                    <a onclick="searchCategoryClicked(this)" data-category="title" class="dropdown-item" href="#">작품명</a>
                  </div>
                </div>
                
              </div>
              <span id="search-category-label">작품명</span>
            </form>
          </div>
        </div>
        <div id="paintings-container" class="row product-wrapper product-hover-style-2 margin-top-50">
          <% @paintings.each do |painting| %>
            <%= render 'painting', painting: painting %>
            
          <% end %>
          
          <div id="infinite-scrolling" style="display: none;">
            <%= will_paginate @paintings %>
          </div>

        </div><!-- end row(inner) -->
      </div>
    </div><!-- end row -->
  </div><!-- end container -->
</div>
<% end %>
<script>
var sentRequest = true;
var isFinished = false;
var isStatusChanged = false;
var isFilterRemoved = false;
var isFiltered = false;

$(function(){
  // let slider = document.getElementById("priceRange");
  // slider.onmouseup = function() {
  //   console.log(this.value);
    
  // }
  $( "#slider" ).slider({
      range:true,
      min: <%= @min_price %>,
      max: <%= @max_price %>,
      values: [ <%= @min_price %>, <%= @max_price %> ],
      slide: function( event, ui ) {
        $( "#price" ).val( "₩" + ui.values[ 0 ] + " - ₩" + ui.values[ 1 ] );
        $("#min_price").val(ui.values[0]);
        $("#max_price").val(ui.values[1]);
      },
      stop: function(event, ui){
        
        isFilterRemoved = true;
        initLoad();
        isFilterRemoved = false;
      }
  });
  $( "#price" ).val( "₩" + $( "#slider" ).slider( "values", 0 ) +
      " -  ₩" + $( "#slider" ).slider( "values", 1 ) );
  $("#min_price").val($( "#slider" ).slider( "values", 0 ));
  $("#max_price").val($( "#slider" ).slider( "values", 1 ));

  setInterval(function(){
    // masonry 가 원활히 적용되지 않던 이슈 일단 이렇게 적용
    $('#paintings-container').masonry({
      // options
      itemSelector : '.item',
    
    });
  })

  activateScroll();

}, 300);

function activateScroll(){
  if($('#infinite-scrolling')[0]){
    // infinite-scroll이 존재하면
    
    $(window).on('scroll', function(){
      let needLoad = $(window).scrollTop() > $(document).height() - $(window).height() - 60;
      loadPaintings(needLoad);
      
    })
  }
}

function loadPaintings(needLoad){
  if(needLoad && sentRequest && !isFinished){
        
    if(document.getElementsByClassName('selected').length == 0){
      makeAjaxLoad(false);
    } else {
      makeAjaxFilter(false);  
    }
    
  }
}

function initLoad(){
  if($('.next_page')[0]){
    
  } else {
    $('#paintings-container').html(`
    <div id="infinite-scrolling" style="display: none;">
      <%= will_paginate @paintings %>
    </div>`);
  }
  $('.next_page').attr('href', '/paintings?page=1');
  isFinished = false;

  if(document.getElementsByClassName('selected').length == 0 && !isStatusChanged){
    // 선택된 필터가 없고, status 칸이 변경되지 않았을 때
    // 다른 필터들이 선택되었다가, 모두 선택 해제되었을 때 (버그)
    if(isFilterRemoved){
      makeAjaxFilter(true);    
    } else {
      makeAjaxLoad(false);
    }
    
    
  }else {
    // 필터가 선택되거나, status 가 변경되었을 때
    makeAjaxFilter(true);  
  }
}

function filterByCategory(e){
  e.stopPropagation();
  let element = e.target;
  let categoryId = parseInt(element.dataset.category);
  isFinished = false;
  toggleSelected(element, '.category-option');
  countSelectedFilter();
  initLoad();
  
  
}

function filterByStatus(e){
  let sel = document.getElementById("sale-category");
  console.log(sel.options[sel.selectedIndex].value)
  let value = sel.options[sel.selectedIndex].value;
  $('#painting_status').val(value);
  isStatusChanged = true;
  isFinished = false;
  initLoad();
  isStatusChanged = false;
}

// function filterByPrice(element){
  
//   let priceId = parseInt(element.dataset.price);
//   isFinished = false;
//   var selected = false;
//   if(element.classList.contains('selected')){
//     selected = true;
//   }

//   $('.price-option').removeClass('selected');
  
//   if(selected){
    
//     element.classList.remove('selected');  

//   } else {
    
//     element.classList.add('selected');

//   }
//   countSelectedFilter();

//   initLoad();

// }

function filterByColor(e){
  e.stopPropagation();
  let element = e.target;
  let colorId = parseInt(element.dataset.color);
  isFinished = false;
  toggleSelected(element, '.color-option');
  countSelectedFilter();
  initLoad();
}

function toggleSelected(element, className){
  if(element.classList.contains('selected')){
    
    element.classList.remove('selected');  
  } else {
    // $(className).removeClass('selected');
    element.classList.add('selected');
  }
}

function makeAjaxLoad(needRefresh){
  sentRequest = false;
  let filterType = $('#filter-select').val();
  
  let statusUrl = "&status=" + $('#painting_status').val();
  var morePostUrl = $('.next_page').attr('href') + statusUrl;
  
  let minPrice = $("#min_price").val();
  let maxPrice = $("#max_price").val();

  <% if @only_commerce %>
    morePostUrl += '&only_commerce=true'
  <% end %>

  if(needRefresh){
    morePostUrl += '&refresh=true';
  } else {
    morePostUrl = morePostUrl.replace('&refresh=true', '');
  }
  console.log(morePostUrl);
  // ACTIVATE PRELOADER
  $.ajax({
    url: morePostUrl,
    dataType: "script", // important! (js.erb 실행)
    method: "GET",
    data : {
      min_price: minPrice,
      max_price: maxPrice
    },
    success: function(){
      sentRequest = true;
    }
  })
}

function makeAjaxFilter(needRefresh){
  sentRequest = false;
  let filterType = $('#filter-select').val();
  let morePostUrl;
  let minPrice = $("#min_price").val();
  let maxPrice = $("#max_price").val();

  if($('.next_page')[0]){
    morePostUrl = $('.next_page').attr('href');
  } else {
    morePostUrl = '/paintings?dummy=true';
  }
  
  let statusUrl = "&status=" + $('#painting_status').val();
  let selectedArr = document.getElementsByClassName('selected');
  // var queryString = '?';
  var url = '';
  for(var i = 0 ; i < selectedArr.length ; i++){
    var dataset = selectedArr[i].dataset;
    for(var key in dataset){
      morePostUrl += '&' + key + '_id[]=' + dataset[key]
    }
  }

  <% if @only_commerce %>
    morePostUrl += '&only_commerce=true'
  <% end %>
  
  if(needRefresh){
    morePostUrl += '&refresh=true';
  } else {
    morePostUrl = morePostUrl.replace('&refresh=true', '');
  }
  
  $.ajax({
    url: morePostUrl + statusUrl,
    method: 'GET',
    dataType: "script",
    data : {
      min_price: minPrice,
      max_price: maxPrice
    },
    success: function(){
      sentRequest = true;
    }
  })
}

function filterInit(name){
  
  $('#paintings-container').html(`
  <div id="infinite-scrolling" style="display: none;">
    <%= will_paginate @paintings %>
  </div>`);
  isFinished = false;

  $('.' + name + '-option').removeClass('selected');
  initLoad();
  
}
function searchCategoryClicked(element){
  let category = element.dataset.category;
  switch(category){
    case 'artist':
      $('#search-category-label').text('작가명');
      $('#search_category').val('artist');
      break;
    case 'title':
      $('#search_category').val('title');
      $('#search-category-label').text('작품명');
      break;
  }
}
function countSelectedFilter(){
  if(document.getElementsByClassName('selected').length==0){
    isFilterRemoved = true;
  } else {
    isFilterRemoved = false;
  }
}
</script>