<!-- Products section -->
<div class="section">
  <div class="container">
    <div class="row">
      <!-- Products -->
      <div class="col-12 col-lg-9 order-lg-2">
        <div class="row align-items-center">
          <div class="col-6 text-left">
            <%= link_to new_painting_path do %>
              <button type="button" class="btn btn-outline-dark">작품 등록하기</button>
            <% end %>
          </div>
          <div class="col-6 text-right">
            <select class="custom-select">
              <option selected>Newest</option>
              <option value="1">Sort by Popularity</option>
              <option value="1">Sort by Rating</option>
              <option value="2">Sort by Price: high to low</option>
              <option value="3">Sort by Price: low to high</option>
            </select>
          </div>
        </div>
        <div id="product-container" class="row product-wrapper product-hover-style-2 margin-top-50">
          <% @paintings.each do |painting| %>
            
            <div class="col-6 col-md-6 col-lg-4 product item">
              <div class="product-img">
                <%= link_to painting_path(painting) do %>
                  <img src="<%= painting.thumbnail.url %>" alt="">
                  <!-- Badge: Sale -->
                  <!-- <div class="product-sale">
                    <h6 class="heading-uppercase">-30%</h6>
                  </div> -->
                  <!-- Badge: New -->
                  <!-- <div class="product-new">
                    <span class="heading-uppercase">New</span>
                  </div> -->
                <% end %>
                <div class="product-img-hover">
                  <h6 class="heading-uppercase"><a href="#">보러가기</a></h6>
                </div>
              </div><!-- end product-img -->
              <div class="product-info">
                <h6>
                  <a href="#">
                    <%= painting.name %>
                  </a>
                </h6>
                <!-- Product Category -->
                <ul class="list-horizontal">
                  <li><a href="#">
                    <%= painting.category.name %>
                  </a></li>
                </ul>
                <!-- Product Price -->
                <div class="product-price">
                  <h6><%= number_to_currency(painting.price, unit: '￦', precision: 0) %></h6>
                </div>
                <!-- Add to Wishlist button -->
                <a class="product-wishlist" href="#">
                  <i class="fa fa-heart-o"></i>
                </a>
                <!-- Product Rating -->
                <!-- <div class="product-rating">
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                </div> -->
              </div><!-- end product-info -->
            </div>
          <% end %>
          
        </div><!-- end row(inner) -->
        <!-- Pagination -->
        <nav>
          <ul class="pagination justify-content-center margin-top-70">
            <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
          </ul>
        </nav>
      </div>
      <!-- Sidebar -->
      <div class="col-12 col-lg-3 order-lg-1 shop-sidebar">
        <!-- Sidebar box 1 - Category -->
        <div class="shop-sidebar-box">
          <h5 class="font-weight-light margin-bottom-20">Category</h5>
          <ul class="shop-sidebar-category">
            <% @categories.each do |category| %>
              <li>
                <a href="#">
                  <%= category.name %> 
                  <span><%= category.paintings.count %></span>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
        <!-- Sidebar box 2 - Color -->
        <div class="shop-sidebar-box">
          <h5 class="font-weight-light margin-bottom-20">Color</h5>
          <ul class="shop-sidebar-color">
            <% @colors.each do |color| %>
              <li>
                <a href="#">
                  <%= color.name %> 
                  <span style="background: <%= color.hex %>"></span>
                </a>
              </li>
            <% end %>
            <!-- You can use (style="background: ..") to set custom colors 
              <li><a href="#">Custom Color <span style="background: #ff7373"></span></a></li> -->
          </ul>
        </div>
        <!-- Sidebar box 3 - Size -->
        <div class="shop-sidebar-box">
          <h5 class="font-weight-light margin-bottom-20">Size</h5>
          <ul class="shop-sidebar-size">
            <li><a href="#">Extra Small <span>XS</span></a></li>
            <li><a href="#">Small <span>SM</span></a></li>
            <li><a href="#">Medium <span>MD</span></a></li>
            <li><a href="#">Large <span>LG</span></a></li>
            <li><a href="#">Extra Large <span>XL</span></a></li>
          </ul>
        </div>
      </div>
    </div><!-- end row -->
  </div><!-- end container -->
</div>
<!-- end Products section -->

<script>
$(function(){
  $('#product-container').masonry({
    // options
    itemSelector : '.item',
    
  });
});
</script>