<% if !@is_mobile %>
<!-- Products section -->
<div class="section">
  <div class="container">
    <div class="row">
      <!-- Products -->
      <div class="col-12 col-lg-9 order-lg-2">
        <div class="row align-items-center">
          <div class="col-6 text-left">
            <%= link_to new_painting_path do %>
              <button type="button" class="btn btn-outline-dark">작품 등록하기</button>
            <% end %>
          </div>
          <div class="col-6 text-right">
            <select class="custom-select">
              <option selected>Newest</option>
              <option value="1">Sort by Popularity</option>
              <option value="1">Sort by Rating</option>
              <option value="2">Sort by Price: high to low</option>
              <option value="3">Sort by Price: low to high</option>
            </select>
          </div>
        </div>
        <div id="paintings-container" class="row product-wrapper product-hover-style-2 margin-top-50">
          <% @paintings.each do |painting| %>
            <%= render 'painting', painting: painting %>
            
          <% end %>
          
          <div id="infinite-scrolling" style="display: none;">
            <%= will_paginate @paintings %>
          </div>

        </div><!-- end row(inner) -->
        <!-- Pagination -->
        <!-- <nav>
          <ul class="pagination justify-content-center margin-top-70">
            <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
          </ul>
        </nav> -->
      </div>
      <% if true || !@is_mobile %>
        <!-- Sidebar -->
        <div class="col-12 col-lg-3 order-lg-1 shop-sidebar">
          <!-- Sidebar box 1 - Category -->
          <div class="shop-sidebar-box">
            <h5 class="font-weight-light margin-bottom-20">
              Category
              <ion-icon onclick="filterInit('category')" name="sync" class="float-right"></ion-icon>
            </h5>
            <ul class="shop-sidebar-category">
              <% @categories.each do |category| %>
                <li>
                  
                  <%= link_to "javascript:void(0);", 
                      data: { category: category.id }, 
                      onclick: "filterByCategory(this)",
                      class: "category-option option" do %>
                    <%= category.name %> 
                    <span><%= category.paintings.count %></span>
                  <% end %>
                  
                </li>
              <% end %>
            </ul>
          </div>

          <!-- Sidebar box 3 - Size -->
          <div class="shop-sidebar-box">
            <h5 class="font-weight-light margin-bottom-20">
              Price
              <ion-icon onclick="filterInit('price')" name="sync" class="float-right"></ion-icon>
            </h5>
            <ul class="shop-sidebar-size">
              <% @prices.each do |price| %>
                <li>
                  <%= link_to "javascript:void(0);",
                  data: { price: price.id },
                  onclick: "filterByPrice(this)",
                  class: "price-option option" do %>
                    - <%= number_to_currency(price.value, unit: '', precision: 0) %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>

          <!-- Sidebar box 2 - Color -->
          <div class="shop-sidebar-box">
            <h5 class="font-weight-light margin-bottom-20">
              Color
              <ion-icon onclick="filterInit('color')" name="sync" class="float-right"></ion-icon>
            </h5>
            <ul class="shop-sidebar-color">
              <% @colors.each do |color| %>
                <li>
                  <%= link_to "javascript:void(0);",
                      data: { color: color.id },
                      onclick: "filterByColor(this)",
                      class: "color-option option" do %>
                    <%= color.name %> 
                    <span style="background: <%= color.hex %>"></span>
                  <% end %>
                </li>
              <% end %>
              <!-- You can use (style="background: ..") to set custom colors 
                <li><a href="#">Custom Color <span style="background: #ff7373"></span></a></li> -->
            </ul>
          </div>
          
        </div>
      <% end %>
    </div><!-- end row -->
  </div><!-- end container -->
</div>
<!-- end Products section -->
<% else %>
<div class="section">
  <div class="container">
    <div class="row">
      
      
      <!-- Sidebar -->
      <div class="col-12 col-lg-3 order-lg-1 shop-sidebar">
        <!-- Sidebar box 1 - Category -->
        <div class="shop-sidebar-box mobile">
          <h5  class="font-weight-light margin-bottom-20">
            Category
            <a data-toggle="collapse" href="#categoryCollapse" role="button" aria-expanded="false" aria-controls="categoryCollapse" class="float-right">+</a>
          </h5>
          <ul id="categoryCollapse" class="shop-sidebar-category collapse">
            <% @categories.each do |category| %>
              <li>
                
                <%= link_to "javascript:void(0);", 
                    data: { category: category.id }, 
                    onclick: "filterByCategory(this)",
                    class: "category-option option" do %>
                  <%= category.name %> 
                  <span><%= category.paintings.count %></span>
                <% end %>
                
              </li>
            <% end %>
          </ul>
        </div>
        <!-- Sidebar box 2 - Color -->
        <div class="shop-sidebar-box mobile">
          <h5  class="font-weight-light">
            Color
            <a data-toggle="collapse" href="#colorCollapse" role="button" aria-expanded="false" aria-controls="colorCollapse" class="float-right">+</a>
          </h5>
          <ul id="colorCollapse" class="shop-sidebar-color collapse">
            <% @colors.each do |color| %>
              <li>
                <%= link_to "javascript:void(0);",
                    data: { color: color.id },
                    onclick: "filterByColor(this)",
                    class: "color-option option" do %>
                  <%= color.name %> 
                  <span style="background: <%= color.hex %>"></span>
                <% end %>
              </li>
            <% end %>
            <!-- You can use (style="background: ..") to set custom colors 
              <li><a href="#">Custom Color <span style="background: #ff7373"></span></a></li> -->
          </ul>
        </div>
        <!-- Sidebar box 3 - Size -->
        <div class="shop-sidebar-box mobile">
          <h5 class="font-weight-light margin-bottom-20">
            Size
            <a data-toggle="collapse" href="#sizeCollapse" role="button" aria-expanded="false" aria-controls="sizeCollapse" class="float-right">+</a>
          </h5>
          <ul id="sizeCollapse" class="shop-sidebar-size collapse">
            <li><a href="#">Extra Small <span>XS</span></a></li>
            <li><a href="#">Small <span>SM</span></a></li>
            <li><a href="#">Medium <span>MD</span></a></li>
            <li><a href="#">Large <span>LG</span></a></li>
            <li><a href="#">Extra Large <span>XL</span></a></li>
          </ul>
        </div>
      </div>
      

      <!-- Products -->
      <div class="col-12 col-lg-9 order-lg-2">
        <div class="row align-items-center">
          <div class="col-6 text-left">
            <%= link_to new_painting_path do %>
              <button type="button" class="btn btn-outline-dark">작품 등록하기</button>
            <% end %>
          </div>
          <div class="col-6 text-right">
            <select class="custom-select">
              <option selected>Newest</option>
              <option value="1">Sort by Popularity</option>
              <option value="1">Sort by Rating</option>
              <option value="2">Sort by Price: high to low</option>
              <option value="3">Sort by Price: low to high</option>
            </select>
          </div>
        </div>
        <div id="paintings-container" class="row product-wrapper product-hover-style-2 margin-top-50">
          <% @paintings.each do |painting| %>
            <%= render 'painting', painting: painting %>
            
          <% end %>
          
          <div id="infinite-scrolling" style="display: none;">
            <%= will_paginate @paintings %>
          </div>

        </div><!-- end row(inner) -->
        <!-- Pagination -->
        <!-- <nav>
          <ul class="pagination justify-content-center margin-top-70">
            <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
          </ul>
        </nav> -->
      </div>
    </div><!-- end row -->
  </div><!-- end container -->
</div>
<% end %>
<script>
var sentRequest = true;
var isFinished = false;

$(function(){

  setInterval(function(){
    // masonry 가 원활히 적용되지 않던 이슈 일단 이렇게 적용
    $('#paintings-container').masonry({
      // options
      itemSelector : '.item',
    
    });
  })

  activateScroll();

}, 300);

function activateScroll(){
  if($('#infinite-scrolling')[0]){
    // infinite-scroll이 존재하면
    
    $(window).on('scroll', function(){
      let needLoad = $(window).scrollTop() > $(document).height() - $(window).height() - 60;
      
      if(needLoad && sentRequest && !isFinished){
        
        if(document.getElementsByClassName('selected').length == 0){
          makeAjaxLoad();
        } else {
          makeAjaxFilter(false);  
        }
        
      }
    })
  }
}

function initLoad(){
  if($('.pagination .next_page')[0]){

  } else {
    $('#paintings-container').html(`
    <div id="infinite-scrolling" style="display: none;">
      <%= will_paginate @paintings %>
    </div>`);
  }
  $('.pagination .next_page').attr('href', '/paintings?page=1');

  if(document.getElementsByClassName('selected').length == 0){
    makeAjaxLoad();

  } else {
    makeAjaxFilter(true);  
  }
}

function filterByCategory(element){
  let categoryId = parseInt(element.dataset.category);
  isFinished = false;
  toggleSelected(element, '.category-option');
  
  initLoad();
  
  
}

function filterByPrice(element){
  
  let priceId = parseInt(element.dataset.price);
  isFinished = false;
  var selected = false;
  if(element.classList.contains('selected')){
    selected = true;
  }

  $('.price-option').removeClass('selected');
  
  if(selected){
    
    element.classList.remove('selected');  
  } else {
    
    element.classList.add('selected');
  }

  initLoad();

}

function filterByColor(element){
  let colorId = parseInt(element.dataset.color);
  isFinished = false;
  toggleSelected(element, '.color-option');
  
  initLoad();
}

function toggleSelected(element, className){
  if(element.classList.contains('selected')){
    // $(className).removeClass('selected');
    element.classList.remove('selected');  
  } else {
    // $(className).removeClass('selected');
    element.classList.add('selected');
  }
}

function makeAjaxLoad(){
  sentRequest = false;
  var morePostUrl = $('.pagination .next_page').attr('href');
  
  // ACTIVATE PRELOADER
  $.ajax({
    url: morePostUrl,
    dataType: "script", // important! (js.erb 실행)
    method: "GET",
    success: function(){
      sentRequest = true;
    }
  })
}

function makeAjaxFilter(needRefresh){
  sentRequest = false;
  let morePostUrl = $('.pagination .next_page').attr('href');
  let selectedArr = document.getElementsByClassName('selected');
  // var queryString = '?';
  var url = '';
  for(var i = 0 ; i < selectedArr.length ; i++){
    var dataset = selectedArr[i].dataset;
    for(var key in dataset){
      morePostUrl += '&' + key + '_id[]=' + dataset[key]
    }
  }
  
  if(needRefresh){
    morePostUrl += '&refresh=true';
  } else {
    morePostUrl = morePostUrl.replace('&refresh=true', '');
  }
  
  
  
  $.ajax({
    url: morePostUrl,
    method: 'GET',
    dataType: "script",
    success: function(){
      sentRequest = true;
    }
  })
}

function filterInit(name){
  
  
  $('#paintings-container').html(`
  <div id="infinite-scrolling" style="display: none;">
    <%= will_paginate @paintings %>
  </div>`);
  isFinished = false;

  $('.' + name + '-option').removeClass('selected');
  initLoad();
  
}


</script>