<!-- Product Content -->
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 product-single">
        <div class="product-single-img" style="padding: 0px;">
          <div class="owl-carousel" 
            data-owl-items="1" 
            data-owl-nav="false" 
            data-owl-autoplay="false" 
            data-owl-dots="false">
            <% @painting.images.each_with_index do |image, index| %>
              <div data-hash="painting-img-<%= index+1 %>">
                <img class="painting-img" src="<%= image.url %>">
              </div>
            <% end %>
          </div>
        </div>
        <div class="row painting-show-preview">
          
          <% @painting.images.each_with_index do |image, index| %>
            <div class="col-2 preview-cell">
              <a href="#painting-img-<%= index+1 %>">
                <img class="preview-cell-img" src="<%= image.url %>">
              </a>
            </div>
          <% end %>
        </div>
        
        <% if @is_mobile %>
          <span class="help-info">그림 위를 터치하면 그림이 확대됩니다.</span>
        <% else %>
          <span class="help-info">그림 위에 마우스를 올리면 그림이 확대됩니다.</span>
        <% end %>
      </div>
        <!-- Sidebar -->
      <div class="col-12 col-lg-4">
        <div>
          <% if user_signed_in? && @painting.user_id == current_user.id %>
            <%= link_to edit_painting_path(@painting) do %>
              <button type="button" class="btn btn-outline-dark margin-little" style="float:right;">수정</button>
            <% end %>
            <%= link_to painting_path(@painting), method: :delete do %>
              <button type="button" class="btn btn-outline-dark margin-little" style="float:right;">삭제</button>
            <% end %>
          <% elsif user_signed_in? %>
            <button type="button" 
                    class="btn btn-outline-dark margin-little" 
                    style="float:right;" 
                    data-toggle="modal" 
                    data-target="#message-modal">쪽지</button>
            <button type="button" 
                    id="follow-btn"
                    class="btn btn-outline-dark margin-little"
                    onclick="followUser()"
                    style="float:right;">
              <% if @is_following %>
                언팔로우
              <% else %>
                팔로우
              <% end %>
            </button>        

          <% end %>
          <%= link_to paintings_path do %>
            <button type="button" class="btn btn-outline-dark margin-little" style="float:right;">목록</button>
          <% end %>
        </div>
        <br>
        <br>
        <br>
  
        <div>
          
          <h5>
            <%= @painting.name %>
            <% if user_signed_in? %>
              <span class="float-right">
                <ion-icon 
                  id="like-button" 
                  onclick="likeButtonClicked()" 
                  class="like-button" 
                  <% if @like.present? %>
                  name="heart"
                  <% else %>
                  name="heart-empty"
                  <% end %>
                ></ion-icon>
              </span>
            <% end %>
          </h5>
          
          
          <p style="word-wrap: break-word;"><%= @painting.desc %></p>
        </div>
        <div class="margin-top-20">
          <h6 class="heading-uppercase no-margin">작가</h6>
          <%= link_to profile_path(@painting.user) do %>
            <span><%= @painting.user.nickname %></span>
          <% end %>
        </div>
        <div class="margin-top-20">
          <h6 class="heading-uppercase no-margin">Category</h6>
          <span><%= @painting.category.name %></span>
        </div>
        <div class="margin-top-20">
          <h6 class="heading-uppercase no-margin">Price</h6>
          <span><%= number_to_currency(@painting.price, unit: '￦', precision: 0) %></span>
        </div>  
      </div> 
    </div><!-- end row -->
  </div><!-- end container -->
</div>
<!-- end Product Content -->



<div class="modal fade" id="message-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">메세지 보내기</h5>
        <button id="message-close-btn" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <textarea class="form-control" id="content" cols="30" rows="10"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button onclick="messageButtonClicked()" type="button" class="btn btn-outline-dark">보내기</button>
      </div>
    </div>
  </div>
</div>

<script>
  
  $(window).on('load', function() {
    paintingImg = document.getElementsByClassName('painting-img');
    for(var i = 0 ; i < paintingImg.length ; i++){
      paintingImg[i].style.width = paintingImg[i].offsetWidth + 'px';
      paintingImg[i].style.height = paintingImg[i].offsetHeight + 'px';
      magnify(paintingImg[i], 2);
    }
  })


  function followUser(){
    <% if user_signed_in? %>
      let followerId = <%= current_user.id %>;
      let followeeId = <%= @painting.user.id %>;

      $.ajax({
        url: '/follow/' + followerId + '/' + followeeId,
        method: 'GET',
        success: function(){
          console.log('follow 성공!');
        }
      })
    <% end %>
  }

  function messageButtonClicked(){

    <% if user_signed_in? %>

      let senderId = <%= current_user.id %>;
      let sellerId = <%= @painting.user_id %>;
      let content = $('#content').val();

      $.ajax({
        headers : { 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')},
        url: '<%= messages_path %>',
        method: 'POST',
        data: {
          painting_id: <%= @painting.id %>,
          sender_id: senderId,
          seller_id: sellerId,
          content: content
        },
        success: function(){
          $('#message-close-btn').click();
        }
      })
      
    <% else %>
      // 로그인 화면을 띄운다.
      window.location.href = "/users/sign_in"
      
    <% end %>
  }

  function likeButtonClicked(){
    <% if user_signed_in? %>
      $.ajax({
        method: 'GET',
        url: '<%= toggle_like_path(@painting.id) %>',
        success: function(){
          console.log("LIKE SUCCESSED")
        }
      });
    <% end %>
  }

  // MAGNIFY when hovered
  function magnify(img, zoom) {
    var glass, w, h, bw;

    /* Create magnifier glass: */
    glass = document.createElement("DIV");
    
    glass.setAttribute("class", "img-magnifier-glass");

    /* Insert magnifier glass: */
    img.parentElement.insertBefore(glass, img);

    /* Set background properties for the magnifier glass: */
    glass.style.display = 'none';
    glass.style.backgroundImage = "url('" + img.src + "')";
    glass.style.backgroundRepeat = "no-repeat";
    // glass.style.backgroundSize = (img.width * zoom) + "px " + (img.height * zoom) + "px";
    glass.style.backgroundSize = (img.offsetWidth * zoom) + "px " + (img.offsetHeight * zoom) + "px";

    glass.style.width = img.style.width;
    glass.style.height = img.style.height;

    bw = 0;

    w = img.offsetWidth / 2;
    h = img.offsetHeight / 2;
    
    <% if @is_mobile %>
      /*and also for touch screens:*/
      glass.addEventListener("touchmove", moveMagnifier);
      img.addEventListener("touchmove", moveMagnifier);
      glass.addEventListener("touchend", function(){
        glass.style.display = 'none';
      })
    <% else %>
      /* Execute a function when someone moves the magnifier glass over the image: */
      glass.addEventListener("mousemove", moveMagnifier);
      img.addEventListener("mousemove", moveMagnifier);
    <% end %>    

    function moveMagnifier(e) {
      /* Prevent any other actions that may occur when moving over the image */
      e.preventDefault();
      e.stopPropagation();

      var pos, x, y;
      
      /* Get the cursor's x and y positions: */
      pos = getCursorPos(e);
      x = pos.x;
      y = pos.y;
      
      if(x < 10 || y < 10 || x > img.width - 10 || y > img.height - 10 ){
        glass.style.display = 'none';
      } else {
        glass.style.display = 'block';
      }
      
      /* Prevent the magnifier glass from being positioned outside the image: */
      if (x > img.width - (w / zoom)) {x = img.width - (w / zoom);}
      if (x < w / zoom) {x = w / zoom;}
      if (y > img.height - (h / zoom)) {y = img.height - (h / zoom);}
      if (y < h / zoom) {y = h / zoom;}
      /* Set the position of the magnifier glass: */
      
      // glass.style.left = (x - w) + "px";
      // glass.style.top = (y - h) + "px";
      /* Display what the magnifier glass "sees": */
      
      glass.style.backgroundPosition = "-" + ((x * zoom) - w + bw) + "px -" + ((y * zoom) - h + bw) + "px";
      
      
    }

    function getCursorPos(e) {
      var a, x = 0, y = 0;
      e = e || window.event;
      /* Get the x and y positions of the image: */
      a = img.getBoundingClientRect();
      /* Calculate the cursor's x and y coordinates, relative to the image: */
      x = e.pageX - a.left;
      y = e.pageY - a.top;
      /* Consider any page scrolling: */
      x = x - window.pageXOffset;
      y = y - window.pageYOffset;
      return {x : x, y : y};
    }
  }
</script>