<div class="section">
  <div class="container">
    <div class="row col-spacing-50">
      <!-- Portfolio Content -->

      <div class="col-12 col-lg-8">
        <div class="owl-carousel owl-nav-overlay owl-dots-overlay" data-owl-items="1" data-owl-nav="true" data-owl-autoplay="true">

        <% @painting.images.each do |image| %>
          <div>
            <a href="<%= image.url %>" data-gallery-title="Gallery Image 1">
              <img src="<%= image.url %>" alt="">
            </a>
          </div>
        <% end %>
         
        </div><!-- end owl-carousel -->
      </div>
      <!-- Sidebar -->
      <div class="col-12 col-lg-4">
        <div>
          
          <% if user_signed_in? && @painting.user_id == current_user.id %>
            <%= link_to edit_painting_path(@painting) do %>
              <button type="button" class="btn btn-outline-dark margin-little" style="float:right;">수정</button>
            <% end %>
            <%= link_to painting_path(@painting), method: :delete do %>
              <button type="button" class="btn btn-outline-dark margin-little" style="float:right;">삭제</button>
            <% end %>
          <% elsif user_signed_in? %>
            <button type="button" 
                    class="btn btn-outline-dark margin-little" 
                    style="float:right;" 
                    data-toggle="modal" 
                    data-target="#message-modal">쪽지</button>
            <button type="button" 
                    id="follow-btn"
                    class="btn btn-outline-dark margin-little"
                    onclick="followUser()"
                    style="float:right;">
              <% if @is_following %>
                언팔로우
              <% else %>
                팔로우
              <% end %>
            </button>        

          <% end %>
          <%= link_to paintings_path do %>
            <button type="button" class="btn btn-outline-dark margin-little" style="float:right;">목록</button>
          <% end %>
        </div>
        <br>
        <br>
        <br>

        <div>
          <h5><%= @painting.name %></h5>
          <p style="white-space: pre;"><%= @painting.desc %></p>
        </div>
        <div class="margin-top-20">
          <h6 class="heading-uppercase no-margin">작가</h6>
          <%= link_to profile_path(@painting.user) do %>
            <span><%= @painting.user.nickname %></span>
          <% end %>
        </div>
        <div class="margin-top-20">
          <h6 class="heading-uppercase no-margin">Category</h6>
          <span><%= @painting.category.name %></span>
        </div>
        <div class="margin-top-20">
          <h6 class="heading-uppercase no-margin">Price</h6>
          <span><%= number_to_currency(@painting.price, unit: '￦', precision: 0) %></span>
        </div>
        
      </div>
    </div><!-- end row -->
  </div><!-- end container -->
</div>

<div class="modal fade" id="message-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button id="message-close-btn" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <textarea class="form-control" id="content" cols="30" rows="10"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button onclick="messageButtonClicked()" type="button" class="btn btn-outline-dark">보내기</button>
      </div>
    </div>
  </div>
</div>

<script>
  
  function followUser(){
    <% if user_signed_in? %>
      let followerId = <%= current_user.id %>;
      let followeeId = <%= @painting.user.id %>;

      $.ajax({
        url: '/follow/' + followerId + '/' + followeeId,
        method: 'GET',
        success: function(){
          console.log('follow 성공!');
        }
      })
    <% end %>
  }

  function messageButtonClicked(){

    <% if user_signed_in? %>

      let senderId = <%= current_user.id %>;
      let sellerId = <%= @painting.user_id %>;
      let content = $('#content').val();

      $.ajax({
        headers : { 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')},
        url: '<%= messages_path %>',
        method: 'POST',
        data: {
          painting_id: <%= @painting.id %>,
          sender_id: senderId,
          seller_id: sellerId,
          content: content
        },
        success: function(){
          $('#message-close-btn').click();
        }
      })
      
    <% else %>
      // 로그인 화면을 띄운다.
      window.location.href = "/users/sign_in"
      
    <% end %>
  }
</script>