
  
  <%= form_with(model: magazine, local: true) do |form| %>

    <% if user_signed_in? %>
      <%= form.hidden_field :user_id, value: "#{current_user.id}" %>
    <% end %>
    <div class="form-group">
      <%= form.label :title, "제목" %>
      <%= form.text_field :title, class: "form-control", placeholder: "매거진 제목을 입력해 주세요." %>
    </div>

    <div class="form-group">
      <%= form.label :magazine_type, "분류" %>
      <%= form.select :magazine_type, options_for_select(Magazine.magazine_types.keys.to_a, selected: magazine.magazine_type), class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :priority, "중요도" %>
      <%= form.select :priority, options_for_select(Magazine.priorities.keys.to_a, selected: magazine.priority), class: "form-control" %>
    </div>

    <% if magazine.thumbnail.blank? %>
      <div class="form-group">
        <%= form.label :thumbnail, '썸네일' %>
        <%= form.file_field :thumbnail, required: true, accept:"file_extension|image/*" %>
      </div>
    <% else %>
      <div class="form-group">
        <%= form.label :thumbnail, '썸네일' %>
        <%= form.file_field :thumbnail, accept:"file_extension|image/*" %>
      </div>
    <% end %>


    <div>
      <%= form.cktext_area :content, rows: 10 %>
    </div>
    <% if magazine.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(magazine.errors.count, "error") %> prohibited this magazine from being saved:
        </h2>
        <ul>
        <% magazine.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="actions">
      <%= form.submit "등록" %>
    </div>
  <% end %>
  
</div>

