<style>
    html{
      height:100%;
    }
    
    body{
      background-color: #0021F5;
      height: 100%;
    }
    .blue{
      color: #0021F5;
    }
    #nav{
      background-color: #0021F5;
    }
    .nav-item{
      color: white;
    }
    .nav-menu{
      background-color: #0021F5;
    }
    p, span{
      color: white;
    }
    .hr{
      background-color: white;
    }
    .header-area{
      margin-top: 40px;
    }
    .header-text{
      font-size: 120px;
      font-weight: 600;
    }
    .magazine-painting-img{
      padding-left: 20px;
      padding-right: 20px;
    }
    .magazine-brief-text-title{
      font-size: 40px;
    }
    #magazine-content, #magazine-interview, #magazine-painting{
      background-color: white;
    }
    .magazine-content-text-title{
      color: #0021F5;
      font-size: 30px;
    }
  
    .artist-profile{
      padding-top: 5%;
    }
    .artist-brief p{
      color: black;
    }
    .interview-title{
      color: #0021F5;
      font-size: 20px;
      float: right;
      padding-right: 5px;
    }
    .interview-content{
      color: black;
      font-size: 16px;
    }
    .interview-area{
      margin-top: 20px;
    }
    p.artist-name{
      font-size: 80px;
      color: #0021F5;
      font-weight: 600;
      position: absolute;
      bottom: 0px; 
    }
    p.painting-title{
      font-size: 15px;
      color: #0021F5;
      font-weight: 600;
    }
    p.painting-sub{
      font-size: 12px;
      color: #0021F5;
    }
    
    section{
      padding-top: 50px;
      overflow: auto;
      padding-bottom: 30px;
    }
    @media screen and (max-width: 479px) {
      /* mobile */
      .header-area{
        margin-top: 20px;
      }
      .header-text{
        font-size: 30px;
      }
    }
  
    @media all and (min-width: 1024px) {
  
    }
  
    @media all and (min-width: 1680px) {
  
    }
  
    @media all and (min-width: 2200px){
  
    }
  
  </style>
  
  <script src="/js/siema.min.js"></script>
  <div class="container">
    <section id="magazine-header">
      <div class="wrapper">
        <div class="header-area">
          <p class="header-text">누구나.</p>
        </div>
        <div class="hr hr-thinner margin-top-10"></div>
        <div class="margin-top-20 hr orange hr-thick"></div>
        <div class="margin-top-20 hr orange hr-thick"></div>
        <div class="margin-top-20 hr orange hr-thick"></div>
      </div>
    </section>
    <section id="magazine-brief" style="padding-bottom: 50px;">
      <div class="wrapper" style="padding-right: 10px;">
        <div class="w-col w-col-5">
          <p class="magazine-brief-text-title">
            No.1
          </p>
          <div class="hr hr-thinner margin-top-10"></div>
          <p class="margin-top-20">
            내가 이렇게 이기적이었던가. 뭔가 이렇게 갖고 싶었던 적 있었나. 다 놀라 내 뻔뻔함에.
          </p>
          <p>
            생각보다 과감해진 나의 시나리오. 이정도 플랜이면 만족해.
          </p>
        </div>
        <div class="w-col w-col-2"></div>
        <% if @is_mobile %>
          <div class="w-col w-col-5 margin-top-50">
            <div>
        <% else %>
          <div class="w-col w-col-5 vr white" style="margin-top: 250px;">
            <div style="padding-left: 20px;">
        <% end %>
            <p class="magazine-brief-text-title">
              No.2
            </p>
            <div class="hr hr-thinner margin-top-10"></div>
            <p class="margin-top-20">
              내맘은 정했어 Yes. 힘들면 보기를 줄게 넌 고르기만해.
            </p>
            <p>
              뭘 고를 지 몰라 준비해봤어. 둘중에 하나만 골라 Yes or Yes. 싫어는 싫어 너 아니면 우리.
            </p>
          </div>
        </div>
      </div>
    </section>
    <div class="siema">
      <div>
        <section id="magazine-content">
          <div class="wrapper">
            <p class="magazine-content-text-title">
              No.1
            </p>
            <div class="hr hr-theme-blue hr-thin margin-top-10"></div>
          </div>
          <div class="wrapper" style="overflow: auto;">
            <div class="artist-profile" >
              <div class="w-col w-col-3 no-padding">
                <img src="/images/col-4-tall.jpg" alt="">
              </div>
              <div class="w-col w-col-1"></div>
              <div class="w-col w-col-8">
                <div class="artist-brief" >
                  <p>나는 매일 똑같은 밥을 먹는 것도 아니고</p>
                  <p>나는 매일 똑같은 얘길 하는 것도 아니고</p>
                  <p>어쩌면 오늘이 특별한 날일 수도 있는데</p>
                  <p>가끔 만나는 사람들은 내게 이런 말을 해</p>
                  <p>그대가 아는 것 만큼 난 좋은애가 아니에요. 나쁜 생각도 잘하고 속으로 욕도 가끔 해요. 우린 완벽하지 않고, 가끔 억지도 부리는걸 그럼 마음이 너무 아파</p>
                  <p>그대를 내 어깨에 기대 찬바람에 얘길 떠나보내요.</p>
                  <div class="hr hr-theme-blue hr-thinner margin-top-20"></div>
                  
                </div>
              </div>
              <% if !@is_mobile %>
                <p style="left: 33.33333333%;" class="artist-name">김희재</p>      
              <% end %>
            </div>
          </div>
        </section>
        <section id="magazine-interview">
          <div class="wrapper">
            <p class="magazine-content-text-title">
              Interview
            </p>
            <div class="margin-top-20">
              <div class="w-col w-col-5">
                <% 2.times do %>
                  <div class="interview-area">
                    <span class="interview-title" style="float: left;">Q.</span>
                    <div style="padding-left: 50px;">
                      때로는 아무 계획없이 멀리 우리라는 준비물만 챙겨서 떠나고싶어요. 그대만 좋다면요
                    </div>
                  </div>
                  <div class="interview-area">
                    <span class="interview-title" style="float: left;">A.</span>
                    <div style="padding-left: 50px;">
                      정말 신비한일야. 내맘에 기준이 되어버렸나봐요. 그대중심으로 멤돌고 멤돌아. 다가가고싶어요 욕심이나는걸.
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="w-col w-col-2">
                <% if !@is_mobile %>
                  <center>
                    <img style="height: 300px;" src="/images/spring.png" alt="">
                  </center>
                <% end %>
              </div>
              <div class="w-col w-col-5">
                <% 2.times do %>
                  <div class="interview-area">
                    <span class="interview-title" style="float: left;">Q.</span>
                    <div style="padding-left: 50px;">
                      처음에 만났을때, 그댄 맑은 사람같았죠. 큰 키에 안어울리게, 가끔 허술하던 모습에 왠지 자꾸만 눈이갔어요. 그댄 아마 모르겠죠.
                    </div>
                  </div>
                  <div class="interview-area">
                    <span class="interview-title" style="float: left;">A.</span>
                    <div style="padding-left: 50px;">
                      왜 이럴까 고민하고 모른척 해봐도 그대가 신경쓰이죠. 시도때도 없어요. 아직 잘 모르지만, 내맘을 열어둬요 날보러 오겠죠 환한 미소지으면서 그대는
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </section>
        <section id="magazine-painting" style="margin-bottom: 400px;">
          <div class="wrapper">
            <% @paintings.each do |painting| %>
              <%= link_to painting_path(painting) do %>
                <div class="w-col w-col-4">
                  <%= image_tag painting.thumbnail.url, class: "magazine-painting-img" %>
                  <center>
                    <p class="painting-title margin-top-20"><%= painting.name %></p>
                    <p class="painting-sub"><%= painting.completed_date.year %></p>
                  </center>
                </div>
              <% end %>
            <% end %>
          </div>
        </section>
      </div>
      <div>
        <section id="magazine-content">
          <div class="wrapper">
            <p class="magazine-content-text-title">
              No.2
            </p>
            <div class="hr hr-theme-blue hr-thin margin-top-10"></div>
          </div>
          <div class="wrapper" style="overflow: auto;">
            <div class="artist-profile" >
              <div class="w-col w-col-3 no-padding">
                <img src="/images/col-4-tall.jpg" alt="">
              </div>
              <div class="w-col w-col-1"></div>
              <div class="w-col w-col-8">
                <div class="artist-brief" >
                  <p>나는 매일 똑같은 밥을 먹는 것도 아니고</p>
                  <p>나는 매일 똑같은 얘길 하는 것도 아니고</p>
                  <p>어쩌면 오늘이 특별한 날일 수도 있는데</p>
                  <p>가끔 만나는 사람들은 내게 이런 말을 해</p>
                  <p>그대가 아는 것 만큼 난 좋은애가 아니에요. 나쁜 생각도 잘하고 속으로 욕도 가끔 해요. 우린 완벽하지 않고, 가끔 억지도 부리는걸 그럼 마음이 너무 아파</p>
                  <p>그대를 내 어깨에 기대 찬바람에 얘길 떠나보내요.</p>
                  <div class="hr hr-theme-blue hr-thinner margin-top-20"></div>
                  
                </div>
              </div>
              <% if !@is_mobile %>
                <p style="left: 33.33333333%;" class="artist-name">김희재</p>      
              <% end %>
            </div>
          </div>
        </section>
        <section id="magazine-interview">
          <div class="wrapper">
            <p class="magazine-content-text-title">
              Interview
            </p>
            <div class="margin-top-20">
              <div class="w-col w-col-5">
                <% 2.times do %>
                  <div class="interview-area">
                    <span class="interview-title" style="float: left;">Q.</span>
                    <div style="padding-left: 50px;">
                      때로는 아무 계획없이 멀리 우리라는 준비물만 챙겨서 떠나고싶어요. 그대만 좋다면요
                    </div>
                  </div>
                  <div class="interview-area">
                    <span class="interview-title" style="float: left;">A.</span>
                    <div style="padding-left: 50px;">
                      정말 신비한일야. 내맘에 기준이 되어버렸나봐요. 그대중심으로 멤돌고 멤돌아. 다가가고싶어요 욕심이나는걸.
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="w-col w-col-2">
                <% if !@is_mobile %>
                  <center>
                    <img style="height: 300px;" src="/images/spring.png" alt="">
                  </center>
                <% end %>
              </div>
              <div class="w-col w-col-5">
                <% 2.times do %>
                  <div class="interview-area">
                    <span class="interview-title" style="float: left;">Q.</span>
                    <div style="padding-left: 50px;">
                      처음에 만났을때, 그댄 맑은 사람같았죠. 큰 키에 안어울리게, 가끔 허술하던 모습에 왠지 자꾸만 눈이갔어요. 그댄 아마 모르겠죠.
                    </div>
                  </div>
                  <div class="interview-area">
                    <span class="interview-title" style="float: left;">A.</span>
                    <div style="padding-left: 50px;">
                      왜 이럴까 고민하고 모른척 해봐도 그대가 신경쓰이죠. 시도때도 없어요. 아직 잘 모르지만, 내맘을 열어둬요 날보러 오겠죠 환한 미소지으면서 그대는
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </section>
        <section id="magazine-painting" style="margin-bottom: 400px;">
          <div class="wrapper">
            <% @paintings.each do |painting| %>
              <%= link_to painting_path(painting) do %>
                <div class="w-col w-col-4">
                  <%= image_tag painting.thumbnail.url, class: "magazine-painting-img" %>
                  <center>
                    <p class="painting-title margin-top-20"><%= painting.name %></p>
                    <p class="painting-sub"><%= painting.completed_date.year %></p>
                  </center>
                </div>
              <% end %>
            <% end %>
          </div>
        </section>
      </div>
    </div>
  </div>
<script>
  new Siema({
    selector: '.siema',
    duration: 200,
    easing: 'ease-out',
    perPage: 1,
    startIndex: 0,
    draggable: true,
    multipleDrag: true,
    threshold: 20,
    loop: false,
    rtl: false,
    onInit: () => {},
    onChange: () => {},
  });
</script>
