<style>
  html{
    height:100%;
  }
  
  body{
    background-color: #0021F5;
    height: 100%;
  }
  .blue{
    color: #0021F5;
  }
  #nav{
    background-color: #0021F5;
  }
  .nav-item{
    color: white;
  }
  .nav-menu{
    background-color: #0021F5;
  }
  p, span{
    color: white;
  }
  .hr{
    background-color: white;
  }
  .header-area{
    margin-top: 40px;
  }
  .header-text{
    font-size: 120px;
    font-weight: 600;
  }
  .magazine-painting-img{
    padding-left: 20px;
    padding-right: 20px;
  }
  .magazine-brief-text-title{
    font-size: 40px;
  }
  #magazine-content, #magazine-interview, #magazine-painting{
    background-color: white;
  }
  .magazine-content-text-title{
    color: #0021F5;
    font-size: 30px;
  }

  .artist-profile{
    padding-top: 5%;
  }
  .artist-brief p{
    color: black;
  }
  .interview-title{
    color: #0021F5;
    font-size: 20px;
    float: right;
    padding-right: 5px;
  }
  .interview-content{
    color: black;
    font-size: 16px;
  }
  .interview-area{
    margin-top: 20px;
  }
  p.artist-name{
    font-size: 80px;
    color: #0021F5;
    font-weight: 600;
    position: absolute;
    bottom: 0px; 
  }
  p.painting-title{
    font-size: 15px;
    color: #0021F5;
    font-weight: 600;
  }
  p.painting-sub{
    font-size: 12px;
    color: #0021F5;
  }
  
  section{
    padding-top: 50px;
    overflow: auto;
    padding-bottom: 30px;
  }
  @media screen and (max-width: 479px) {
    /* mobile */
    .header-area{
      margin-top: 20px;
    }
    .header-text{
      font-size: 30px;
    }
  }

  @media all and (min-width: 1024px) {

  }

  @media all and (min-width: 1680px) {

  }

  @media all and (min-width: 2200px){

  }

</style>

<%= render 'layouts/navbar' %>

<div class="container">
  <section id="magazine-header">
    <div class="wrapper">
      <div class="header-area">
        <p class="header-text">누구나.</p>
      </div>
      <div class="hr hr-thinner margin-top-10"></div>
      <div class="margin-top-20 hr orange hr-thick"></div>
      <div class="margin-top-20 hr orange hr-thick"></div>
      <div class="margin-top-20 hr orange hr-thick"></div>
    </div>
  </section>
  <section id="magazine-brief" style="padding-bottom: 50px;">
    <div class="wrapper" style="padding-right: 10px;">
      <div class="w-col w-col-5">
        <p class="magazine-brief-text-title">
          No.1
        </p>
        <div class="hr hr-thinner margin-top-10"></div>
        <p class="margin-top-20">
          누구나 모든 벽을 향유할만한 가치가 있다. 내 작품이 모든 방에- 후회해봤자 소용은 없다. 모든 것은 나에게 달려있다 이말입니다.
        </p>
        <p>
          누구나 모든 벽을 향유할만한 가치가 있다. 내 작품이 모든 방에- 후회해봤자 소용은 없다. 모든 것은 나에게 달려있다 이말입니다.
        </p>
      </div>
      <div class="w-col w-col-2"></div>
      <% if @is_mobile %>
        <div class="w-col w-col-5 margin-top-20">
          <div>
      <% else %>
        <div class="w-col w-col-5 vr white" style="margin-top: 300px;">
          <div style="padding-left: 20px;">
      <% end %>
          <p class="magazine-brief-text-title">
            No.2
          </p>
          <div class="hr hr-thinner margin-top-10"></div>
          <p class="margin-top-20">
            누구나 모든 벽을 향유할만한 가치가 있다. 내 작품이 모든 방에- 후회해봤자 소용은 없다. 모든 것은 나에게 달려있다 이말입니다.
          </p>
          <p>
            누구나 모든 벽을 향유할만한 가치가 있다. 내 작품이 모든 방에- 후회해봤자 소용은 없다. 모든 것은 나에게 달려있다 이말입니다.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="magazine-content">
    <div class="wrapper">
      <p class="magazine-content-text-title">
        No.1
      </p>
      <div class="hr hr-theme-blue hr-thin margin-top-10"></div>
    </div>
    <div class="wrapper" style="overflow: auto;">
      <div class="artist-profile" >
        <div class="w-col w-col-3 no-padding">
          <img src="/images/sample_profile.jpeg" alt="">
        </div>
        <div class="w-col w-col-1"></div>
        <div class="w-col w-col-8">
          <div class="artist-brief" >
            <p>필시 모든 것은 후회로 돌아온다. 그러니 후회를 잘 다루는 것이</p>
            <p>무엇보다 중요하겠다고, 꼭 꼭 씹어 삼키는 것이다. 소화되지 않은</p>
            <p>것들은 덩어리져, 덩어리져 뭉쳐, 뭉친채로 가슴께에 얹혀 하루고 이틀이고</p>
            <p>나를 괴롭히는 것이었다. 괴롭다고 말한다면 무엇이 달라질까 싶어 다시 한번</p>
            <p>억지로 그것을 짓이겨, 소화도 되지 않은 채 꾹꾹 눌러담을 뿐이다.</p>
            <div class="hr hr-theme-blue hr-thinner margin-top-20"></div>
            
          </div>
        </div>
        <p <% if !@is_mobile %> style="left: 33.33333333%;" <% end %> class="artist-name">김희재</p>      
      </div>
    </div>
  </section>
  <section id="magazine-interview">
    <div class="wrapper">
      <p class="magazine-content-text-title">
        Interview
      </p>
      <div class="margin-top-20">
        <div class="w-col w-col-5">
          <% 2.times do %>
            <div class="interview-area">
              <span class="interview-title" style="float: left;">Q.</span>
              <div style="padding-left: 50px;">
                때로는 아무 계획없이 멀리 우리라는 준비물만 챙겨서 떠나고싶어요. 그대만 좋다면요
              </div>
            </div>
            <div class="interview-area">
              <span class="interview-title" style="float: left;">A.</span>
              <div style="padding-left: 50px;">
                정말 신비한일야. 내맘에 기준이 되어버렸나봐요. 그대중심으로 멤돌고 멤돌아. 다가가고싶어요 욕심이나는걸.
              </div>
            </div>
          <% end %>
        </div>
        <div class="w-col w-col-2">
          <center>
            <img style="height: 300px;" src="/images/spring.png" alt="">
          </center>
        </div>
        <div class="w-col w-col-5">
          <% 2.times do %>
            <div class="interview-area">
              <span class="interview-title" style="float: left;">Q.</span>
              <div style="padding-left: 50px;">
                처음에 만났을때, 그댄 맑은 사람같았죠. 큰 키에 안어울리게, 가끔 허술하던 모습에 왠지 자꾸만 눈이갔어요. 그댄 아마 모르겠죠.
              </div>
            </div>
            <div class="interview-area">
              <span class="interview-title" style="float: left;">A.</span>
              <div style="padding-left: 50px;">
                왜 이럴까 고민하고 모른척 해봐도 그대가 신경쓰이죠. 시도때도 없어요. 아직 잘 모르지만, 내맘을 열어둬요 날보러 오겠죠 환한 미소지으면서 그대는
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <section id="magazine-painting" style="margin-bottom: 500px;">
    <div class="wrapper">
      <% @paintings.each do |painting| %>
        <%= link_to painting_path(painting) do %>
          <div class="w-col w-col-4">
            <%= image_tag painting.thumbnail.url, class: "magazine-painting-img" %>
            <center>
              <p class="painting-title margin-top-20"><%= painting.name %></p>
              <p class="painting-sub"><%= painting.completed_date.year %></p>
            </center>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</div>
