<% if user_signed_in? && current_user.user_type == "admin" %>
  <div class="container" style="padding-top: 100px;">
    <%= link_to magazine_path, method: :delete do %>
      <button type="button" class="btn btn-outline-dark float-right" style="margin-left: 5px;">삭제</button>
    <% end %>
    <%= link_to edit_magazine_path do %>
      <button type="button" class="btn btn-outline-dark float-right" >수정</button>
    <% end %>
  </div>
<% end %>

<div class="section">
  <div class="container margin-top-20">
    <div class="row">
      <div class="col-12 col-sm-10 offset-sm-1 col-md-8">
        <div class="margin-bottom-30">
          <div class="row gallery-wrapper spacing-30">
            <h4><%= @magazine.title %></h4>      
            <div style="margin-top: 20px;">
              <%= @magazine.content.html_safe %>    
            </div>
          </div><!-- end row/gallery-wrapper -->
          
          <!-- <div class="col-6 text-right">
            <h6 class="heading-uppercase">Share On</h6>
            <ul class="list-horizontal-unstyled">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
            </ul>
          </div> -->
        </div>
        <!-- end Post Tags / Share -->
      </div>
    </div><!-- end row -->
  </div><!-- end container -->
</div>
<!-- end Blog Post section -->

<% if @magazine.user.present? %>
<!-- Post Author section -->
<div class="section bg-grey-lighter">
  <div class="container text-center">
    <div class="row">
      <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <% if @magazine.user.image.present? %>
          <img class="img-circle-lg margin-bottom-20"
               src="<%= @magazine.user.image.url %>">
        <% end %>
        <h5>에디터 : <%= @magazine.user.nickname %></h5>
        <p><%= @magazine.user.desc %></p>
        <!-- Social links -->
        <ul class="list-horizontal-unstyled margin-top-20">
          <% if @magazine.user.instagram.present? %>
          <li>
            instagram
            <a href="<%= @magazine.user.instagram %>">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <% end %>
        </ul>
      </div>
    </div><!-- end row -->
  </div><!-- end container -->
</div>
<!-- end Post Author section -->
<% end %>

<!-- Comments section -->
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
        <h4 class="margin-bottom-50 text-left">Comments</h4>
        <div id="comment-area">
        <!-- Comment box 1 -->
          <% @magazine_comments.each do |comment| %>
            <div class="comment-box">
              <div class="comment-user-avatar">
                <%  if comment.user.image.present? %>
                  <img class="magazine-comment-image" src="<%= comment.user.image.url %>" alt="">
                <% else %>
                  <i class="fa fa-user"></i>
                <% end %>
              </div>
              <div class="comment-content">
                <span class="comment-time"><%= comment.created_at.strftime("%Y년 %m월 %d일") %></span>
                <%= link_to profile_path(comment.user) do %>
                  <h6 class="font-weight-normal"><%= comment.user.nickname %></h6>
                <% end %>
                <p>
                  <%= comment.content %>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div><!-- end row -->
  </div><!-- end container -->
</div>
<!-- end Comments section -->

<% if user_signed_in? %>
  <%= render 'comment_form' %>
<% end %>
