<div class="section" style="margin-bottom: 0px;">
  <main>
    <div class="container">
      <div class="row">
        <% if false %>
        <div class="col-12">
          <div class="section">
            <div class="menu-desc selected" id="desc-0">
              <!-- PAINTINGS -->
              <span class="menu-desc-text">
                Canvas 는 미술에 관심있는 작가들이 자유롭게 작품을 공유하고, 판매하는 플랫폼 서비스입니다.<br>
              </span>
            </div>
            <div class="menu-desc"  id="desc-1">
              <span class="menu-desc-text">
                Canvas Magazine 에는 올해의 문제작가 인터뷰 / 이슈 작품들의 게시물들이 수록됩니다.
              </span>
            </div>
            <div class="menu-desc" id="desc-2">
              <span class="menu-desc-text">
                About Greedy Turtles
              </span>
            </div>
            <div class="menu-desc" id="desc-3">
              <span class="menu-desc-text">
                Canvas Magazine 에는 올해의 문제작가 인터뷰 / 이슈 작품들의 게시물들이 수록됩니다.
              </span>
            </div>
            <div class="menu-desc" id="desc-4">
              <span class="menu-desc-text">
                Greedy Turtles
              </span>
            </div>
          </div>
        </div>
        <% end %>
        <div class="col-12">
          <div class="frame">
            <div id="grid-animate-area">
              <link rel="stylesheet" type="text/css" href="/css/base.css" />
  
              <nav class="menu" <% if @is_mobile %> style="width: 100%;" <% end %>>
                <div class="menu__item">
                  <span class="menu__item-number">01</span>
                  <span class="menu__item-textwrap"><span class="menu__item-text">Paintings</span></span>
                  <%= link_to '자세히', paintings_path, class: "menu__item-link" %>
                  <!-- <a class="menu__item-link">자세히</a> -->
                </div>
                <div class="menu__item">
                  <span class="menu__item-number">02</span>
                  <span class="menu__item-textwrap"><span class="menu__item-text">Magazines</span></span>
                  <%= link_to '자세히', magazines_path, class: "menu__item-link" %>
                  <!-- <a class="menu__item-link">자세히</a> -->
                </div>
                <div class="menu__item">
                  <span class="menu__item-number">05</span>
                  <span class="menu__item-textwrap"><span class="menu__item-text">About us</span></span>
                  <a class="menu__item-link">자세히</a>
                </div>
                <!-- <div class="menu__item">
                  <span class="menu__item-number">03</span>
                  <span class="menu__item-textwrap"><span class="menu__item-text">Objects</span></span>
                  <a class="menu__item-link">자세히</a>
                </div>
                <div class="menu__item">
                  <span class="menu__item-number">04</span>
                  <span class="menu__item-textwrap"><span class="menu__item-text">Delta</span></span>
                  <a class="menu__item-link">자세히</a>
                </div> -->
                
              </nav>
              <div class="menu-desc selected" id="desc-0">
                <!-- PAINTINGS -->
                <span class="menu-desc-text float-right text-right">
                  
                  Canvas 는 미술에 관심있는 작가들이 자유롭게 작품을 공유하고,<br>
                  판매하는 플랫폼 서비스입니다.<br>
                  <br>
                  여러분의 소중한 작품들을 캔버스에 담아주세요.<br><br>
                  <%= link_to magazines_path do %>
                    <button type="button" class="btn btn-outline-dark">보러가기</button>  
                  <% end %>
                  
                  
                </span>
              </div>
              <div class="menu-desc"  id="desc-1">
                <span class="menu-desc-text float-right text-right">
                  Canvas 는 작품 공유, 판매 서비스 뿐만 아니라, <br>
                  최신 예술 동향을 파악할 수 있는 Magazine 이 있습니다. <br>
                  Canvas Magazine 에는 올해의 문제작가 인터뷰 / 이슈 작품들에 관한 <br>
                  게시물들이 수록됩니다.<br>
                  <br>
                  <%= link_to magazines_path do %>
                    <button type="button" class="btn btn-outline-dark">보러가기</button>  
                  <% end %>
                </span>
                
              </div>
              <div class="menu-desc" id="desc-2">
                <span class="menu-desc-text float-right text-right">
                  About Greedy Turtles
                </span>
              </div>
              
              <div style="width: 100%; top: 20px;" class="page page--preview">
                
                <div class="gridwrap">
                    
                  <div class="grid grid--layout-1">
                    <% @paintings1.each do |painting| %>
                      <div class="grid__item" style="background-image: url('<%= painting['thumbnail'] %>')"></div>
                    <% end %>
                  </div>
                  <div class="grid grid--layout-2">
                    <% @magazines.each do |magazine| %>
                      <div class="grid__item" style="background-image: url('<%= magazine.url %>')"></div>
                    <% end %>
                  </div>
                  <div class="grid grid--layout-3">
                    <% @magazines.each do |magazine| %>
                      <div class="grid__item" style="background-image: url('<%= magazine.url %>')"></div>
                    <% end %>
                    
                  </div>
                  <div class="grid grid--layout-4">
                    <% @magazines.each do |magazine| %>
                      <div class="grid__item" style="background-image: url('<%= magazine.url %>')"></div>
                    <% end %>
                  
                  </div>
                  <div class="grid grid--layout-5">
                    <% @magazines.each do |magazine| %>
                      <div class="grid__item" style="background-image: url('<%= magazine.url %>')"></div>
                    <% end %>
                
                  </div>
                  <button style="z-index: 10000" class="gridback">이전으로</button>
                  <!-- <div class="content">
                    <div class="content__item">
                      Emerged into consciousness tesseract invent the universe Cambrian explosion how far away from which we spring? Brain is the seed of intelligence white dwarf inconspicuous motes of rock and gas two ghostly white figures in coveralls and helmets are soflty dancing extraordinary claims require extraordinary evidence dispassionate extraterrestrial observer. Hundreds of thousands great turbulent clouds concept of the number one made in the interiors of collapsing stars the sky calls to us encyclopaedia galactica.
                    </div>
                    <div class="content__item">
                      Billions upon billions cosmic ocean prime number descended from astronomers finite but unbounded Euclid? White dwarf hearts of the stars the carbon in our apple pies a very small stage in a vast cosmic arena brain is the seed of intelligence permanence of the stars? Vastness is bearable only through love concept of the number one Sea of Tranquility courage of our questions how far away a still more glorious dawn awaits.
                    </div>
                    <div class="content__item">
                      At the edge of forever white dwarf a mote of dust suspended in a sunbeam citizens of distant epochs take root and flourish tesseract. Bits of moving fluff rings of Uranus across the centuries tendrils of gossamer clouds made in the interiors of collapsing stars muse about. A very small stage in a vast cosmic arena emerged into consciousness network of wormholes network of wormholes dispassionate extraterrestrial observer emerged into consciousness.
                    </div>
                    <div class="content__item">
                      Explorations Apollonius of Perga Sea of Tranquility great turbulent clouds realm of the galaxies two ghostly white figures in coveralls and helmets are soflty dancing. Dispassionate extraterrestrial observer are creatures of the cosmos a mote of dust suspended in a sunbeam hundreds of thousands extraordinary claims require extraordinary evidence something incredible is waiting to be known. Citizens of distant epochs dispassionate extraterrestrial observer something incredible is waiting to be known of brilliant syntheses network of wormholes rich in heavy atoms.
                    </div>
                    <div class="content__item">
                      Hundreds of thousands take root and flourish tingling of the spine consciousness ship of the imagination paroxysm of global death. Rich in mystery realm of the galaxies realm of the galaxies something incredible is waiting to be known hearts of the stars rich in mystery? Kindling the energy hidden in matter the carbon in our apple pies Cambrian explosion the sky calls to us encyclopaedia galactica citizens of distant epochs.
                    </div>
                  </div> -->
                  <!-- <button class="gridback"><svg class="icon icon--arrow"><use xlink:href="#icon-arrow"></use></svg></button> -->
                  
                  <script src="js/imagesloaded.pkgd.min.js"></script>
                  <script src="js/TweenMax.min.js"></script>
                  <script src="js/demo.js"></script>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  </div>
  
  <!-- Portfolio section -->
  <div class="section-lg no-padding-top">
    <div class="container">
      <div class="row portfolio-wrapper spacing-30">
        <!-- Portfolio box 1 -->
        <div class="col-12 col-md-6 portfolio-item">
          <div class="portfolio-box">
            <div class="portfolio-img">
              <img src="/images/col-2.jpg" alt=""><!-- Image source -->
            </div>
            <a href="#"></a><!-- Portfolio Single link -->
            <div class="portfolio-title">
              <div>
                <h5>Project Title</h5>
                <span>Category</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Portfolio box 2 -->
        <div class="col-12 col-md-6 portfolio-item">
          <div class="portfolio-box">
            <div class="portfolio-img">
              <img src="/images/col-2.jpg" alt=""><!-- Image source -->
            </div>
            <a href="#"></a><!-- Portfolio Single link -->
            <div class="portfolio-title">
              <div>
                <h5>Project Title</h5>
                <span>Category</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Portfolio box 3 -->
        <div class="col-12 col-md-6 portfolio-item">
          <div class="portfolio-box">
            <div class="portfolio-img">
              <img src="/images/col-2.jpg" alt=""><!-- Image source -->
            </div>
            <a href="#"></a><!-- Portfolio Single link -->
            <div class="portfolio-title">
              <div>
                <h5>Project Title</h5>
                <span>Category</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Portfolio box 4 -->
        <div class="col-12 col-md-6 portfolio-item">
          <div class="portfolio-box">
            <div class="portfolio-img">
              <img src="/images/col-2.jpg" alt=""><!-- Image source -->
            </div>
            <a href="#"></a><!-- Portfolio Single link -->
            <div class="portfolio-title">
              <div>
                <h5>Project Title</h5>
                <span>Category</span>
              </div>
            </div>
          </div>
        </div>
      </div><!-- end row/portfolio-wrapper -->
      <!-- button -->
      <div class="text-right margin-top-70">
        <a class="text-btn-3" href="#">View All Works</a>
      </div>
    </div><!-- end container -->
  </div>
  <!-- end Portfolio section -->
  
  
  
  <!-- About section -->
  <div class="section-lg bg-dark-lighter">
    <div class="container">
      <div class="row col-spacing-50">
        <div class="col-12 col-lg-6">
          <h3 class="font-weight-light margin-bottom-20">We believe that teamwork divides the tasks and multiplies the success</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
        <div class="col-12 col-lg-6">
          <!-- Progress bar box 1 -->
          <div class="progress-box">
                          <h6 class="heading-uppercase">Social Marketing</h6>
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                  <span>90%</span>
                              </div>
                          </div>
                      </div>
                      <!-- Progress bar box 2 -->
          <div class="progress-box">
                          <h6 class="heading-uppercase">Photography</h6>
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                                  <span>95%</span>
                              </div>
                          </div>
                      </div>
                      <!-- Progress bar box 3 -->
          <div class="progress-box">
                          <h6 class="heading-uppercase">Web Development</h6>
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                  <span>100%</span>
                              </div>
                          </div>
                      </div>
                      <!-- Progress bar box 4 -->
                      <div class="progress-box">
                          <h6 class="heading-uppercase">Graphic Design</h6>
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                  <span>85%</span>
                              </div>
                          </div>
                      </div>
        </div>
      </div><!-- end row -->
    </div><!-- end container -->
  </div>
  <!-- end About section -->

  <% if false %>
  <!-- Home section -->  
  <div class="section-xl">
    
    <div class="container">
      <div class="row col-spacing-50">
        <div class="col-12 col-lg-10">
          <h6 class="heading-uppercase margin-bottom-20">Canvas</h6>
          <h1>Paintings are your Colors</h1>
          <h4 class="font-weight-light text-black-06">모든 집의 벽에 그림이 걸릴 때까지.</h4>
        </div>
      </div><!-- end row -->
    </div><!-- end container -->
  </div>
  <!-- end Home section -->
  
  <!-- Portfolio section -->
  <div class="section-lg no-padding-top">
    <div class="container">
      <div class="row portfolio-wrapper spacing-30">
        <!-- Portfolio box 1 -->
        <div class="col-12 col-md-6 portfolio-item">
          <div class="portfolio-box">
            <div class="portfolio-img">
              <img src="/images/col-2.jpg" alt=""><!-- Image source -->
            </div>
            <a href="#"></a><!-- Portfolio Single link -->
            <div class="portfolio-title">
              <div>
                <h5>Project Title</h5>
                <span>Category</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Portfolio box 2 -->
        <div class="col-12 col-md-6 portfolio-item">
          <div class="portfolio-box">
            <div class="portfolio-img">
              <img src="/images/col-2.jpg" alt=""><!-- Image source -->
            </div>
            <a href="#"></a><!-- Portfolio Single link -->
            <div class="portfolio-title">
              <div>
                <h5>Project Title</h5>
                <span>Category</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Portfolio box 3 -->
        <div class="col-12 col-md-6 portfolio-item">
          <div class="portfolio-box">
            <div class="portfolio-img">
              <img src="/images/col-2.jpg" alt=""><!-- Image source -->
            </div>
            <a href="#"></a><!-- Portfolio Single link -->
            <div class="portfolio-title">
              <div>
                <h5>Project Title</h5>
                <span>Category</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Portfolio box 4 -->
        <div class="col-12 col-md-6 portfolio-item">
          <div class="portfolio-box">
            <div class="portfolio-img">
              <img src="/images/col-2.jpg" alt=""><!-- Image source -->
            </div>
            <a href="#"></a><!-- Portfolio Single link -->
            <div class="portfolio-title">
              <div>
                <h5>Project Title</h5>
                <span>Category</span>
              </div>
            </div>
          </div>
        </div>
      </div><!-- end row/portfolio-wrapper -->
      <!-- button -->
      <div class="text-right margin-top-70">
        <a class="text-btn-3" href="#">View All Works</a>
      </div>
    </div><!-- end container -->
  </div>
  <!-- end Portfolio section -->
  
  
  
  <!-- About section -->
  <div class="section-lg bg-dark-lighter">
    <div class="container">
      <div class="row col-spacing-50">
        <div class="col-12 col-lg-6">
          <h3 class="font-weight-light margin-bottom-20">We believe that teamwork divides the tasks and multiplies the success</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
        <div class="col-12 col-lg-6">
          <!-- Progress bar box 1 -->
          <div class="progress-box">
                          <h6 class="heading-uppercase">Social Marketing</h6>
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                  <span>90%</span>
                              </div>
                          </div>
                      </div>
                      <!-- Progress bar box 2 -->
          <div class="progress-box">
                          <h6 class="heading-uppercase">Photography</h6>
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                                  <span>95%</span>
                              </div>
                          </div>
                      </div>
                      <!-- Progress bar box 3 -->
          <div class="progress-box">
                          <h6 class="heading-uppercase">Web Development</h6>
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                  <span>100%</span>
                              </div>
                          </div>
                      </div>
                      <!-- Progress bar box 4 -->
                      <div class="progress-box">
                          <h6 class="heading-uppercase">Graphic Design</h6>
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                  <span>85%</span>
                              </div>
                          </div>
                      </div>
        </div>
      </div><!-- end row -->
    </div><!-- end container -->
  </div>
  <!-- end About section -->
  
  <div class="container-fluid no-padding bg-grey">
    <div class="row align-items-center no-margin">
      <div class="col-12 col-lg-6 no-margin no-padding">
        <img src="/images/col-1-square.jpg" alt="">
      </div>
      <div class="col-12 col-lg-6 no-margin no-padding">
        <div class="padding-70 text-center">
          <h6 class="heading-uppercase">Watch Youtube &amp; Vimeo Video</h6>
          <a class="button-circle button-circle-xl button-circle-outline-dark button-border-1px margin-top-20 popup-youtube" data-youtube-src="https://www.youtube.com/embed/1aux_hLPf4c?autoplay=1&rel=0" href="#"><i class="fa fa-play"></i></a>
        </div>
      </div>
    </div><!-- end row -->
  </div><!-- end container-fluid -->
  
  <!-- Services section -->
  <div class="section-lg">
    <div class="container">
      <div class="section-title">
        <h6 class="heading-uppercase">Services</h6>
        <h2>What We Do</h2>
      </div>
      <div class="row">
        <!-- Icon text box 1 -->
        <div class="col-12 col-md-4 icon-5xl">
          <i class="ti-star text-dark"></i>
          <h6 class="heading-uppercase margin-top-20">Social Marketing</h6>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
        </div>
        <!-- Icon text box 2 -->
        <div class="col-12 col-md-4 icon-5xl">
          <i class="ti-ruler-pencil text-dark"></i>
          <h6 class="heading-uppercase margin-top-20">Graphic Design</h6>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
        </div>
        <!-- Icon text box 3 -->
        <div class="col-12 col-md-4 icon-5xl">
          <i class="ti-camera text-dark"></i>
          <h6 class="heading-uppercase margin-top-20">Photography</h6>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
        </div>
      </div><!-- end row -->
    </div><!-- end container -->
  </div>
  <!-- end Services section -->
  
  <!-- Clients section -->
  <div class="section bg-grey">
    <div class="container">
      <div class="owl-carousel" data-owl-dots="false" data-owl-margin="30" data-owl-autoplay="true" data-owl-xs="1" data-owl-sm="2" data-owl-md="3" data-owl-lg="4" data-owl-xl="6">
        <!-- Client box 1 -->
        <div class="client-box">
          <a href="#">
            <img src="/images/col-5.jpg" alt="">
          </a>
        </div>
        <!-- Client box 2 -->
        <div class="client-box">
          <a href="#">
            <img src="/images/col-5.jpg" alt="">
          </a>
        </div>
        <!-- Client box 3 -->
        <div class="client-box">
          <a href="#">
            <img src="/images/col-5.jpg" alt="">
          </a>
        </div>
        <!-- Client box 4 -->
        <div class="client-box">
          <a href="#">
            <img src="/images/col-5.jpg" alt="">
          </a>
        </div>
        <!-- Client box 5 -->
        <div class="client-box">
          <a href="#">
            <img src="/images/col-5.jpg" alt="">
          </a>
        </div>
        <!-- Client box 6 -->
        <div class="client-box">
          <a href="#">
            <img src="/images/col-5.jpg" alt="">
          </a>
        </div>
        <!-- Client box 7 -->
        <div class="client-box">
          <a href="#">
            <img src="/images/col-5.jpg" alt="">
          </a>
        </div>
      </div><!-- end owl-carousel -->
    </div><!-- end container -->
  </div>
  <!-- end Clients section -->
  
  <!-- Team section -->
  <div class="section-lg">
    <div class="container">
      <div class="section-title">
        <h6 class="heading-uppercase">Team Members</h6>
        <h2>Meet Our Creative Team</h2>
      </div>
      <div class="row team-wrapper team-box-hover-3 text-left">
        <!-- Team box 1 -->
        <div class="col-12 col-md-6 col-lg-3 team-box">
          <div class="team-img">
            <img src="/images/col-4-square.jpg" alt=""><!-- image source -->
            <!-- social links -->
            <div>
              <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
          <h6 class="heading-uppercase no-margin">Robert Vincent</h6>
          <span>Founder</span>
        </div>
        <!-- Team box 2 -->
        <div class="col-12 col-md-6 col-lg-3 team-box">
          <div class="team-img">
            <img src="/images/col-4-square.jpg" alt=""><!-- image source -->
            <!-- social links -->
            <div>
              <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
          <h6 class="heading-uppercase no-margin">Brenda Johnson</h6>
          <span>Marketer</span>
        </div>
        <!-- Team box 3 -->
        <div class="col-12 col-md-6 col-lg-3 team-box">
          <div class="team-img">
            <img src="/images/col-4-square.jpg" alt=""><!-- image source -->
            <!-- social links -->
            <div>
              <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
          <h6 class="heading-uppercase no-margin">Rodney Scott</h6>
          <span>Developer</span>
        </div>
        <!-- Team box 4 -->
        <div class="col-12 col-md-6 col-lg-3 team-box">
          <div class="team-img">
            <img src="/images/col-4-square.jpg" alt=""><!-- image source -->
            <!-- social links -->
            <div>
              <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
          <h6 class="heading-uppercase no-margin">Michelle White</h6>
          <span>Designer</span>
        </div>
      </div><!-- end row -->
    </div><!-- end container -->
  </div>
  <!-- end Team section -->
  
  <footer>
    <div class="footer bg-dark-lighter">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-3">
            <h3>Mono</h3>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <h6 class="heading-uppercase">Useful Links</h6>
            <ul class="list-icon list-icon-arrow">
              <li><a href="#">About us</a></li>
              <li><a href="#">Team</a></li>
              <li><a href="#">Prices</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <h6 class="heading-uppercase">Additional Links</h6>
            <ul class="list-icon list-icon-arrow">
              <li><a href="#">Clients</a></li>
              <li><a href="#">Process</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Careers</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <h6 class="heading-uppercase">Contact Info</h6>
            <ul class="list-unstyled">
              <li>121 King St, Melbourne VIC 3000</li>
              <li>example@email.com</li>
              <li>+(123) 456 789 01</li>
            </ul>
          </div>
        </div><!-- end row -->
      </div><!-- end container -->
    </div><!-- end footer -->
    <div class="footer-bottom bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 text-center text-md-left">
            <p>&copy; 2018 FlaTheme, All Rights Reserved.</p>
          </div>
          <div class="col-12 col-md-6 text-center text-md-right">
            <ul class="list-horizontal-unstyled">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div><!-- end row -->
      </div><!-- end container -->
    </div><!-- end footer-bottom -->
  </footer>
  <% end %>