<tr>
  <td class="cart-product-thumbnail">
    <a href="<%= painting_path(line_item.painting) %>"><img src="<%= line_item.painting.thumbnail.url %>" alt="" style="width: 100px;"></a>
    <h6><%= line_item.painting.name %></h6>
  </td>
  <td>
    <span><%= line_item.painting.price %></span>
  </td>
  <td class="cart-product-subtotal">
    <span class="font-weight-bold"><%= line_item.option.price %></span>
  </td>
  <td class="cart-product-quantity">
    <div class="product-quantity">
      <button class="button-circle button-circle-xs button-circle-grey dec"><i class="ti-minus"></i></button>
      <input onchange="changeQuantity(this, '<%= line_item.id %>', '<%= line_item.painting.price %>')" type="text" name="quantity"  value="<%= line_item.quantity %>">
      <button class="button-circle button-circle-xs button-circle-grey inc"><i class="ti-plus"></i></button>
    </div>
  </td>
  <td class="cart-product-subtotal">
    <span class="font-weight-bold"><%= line_item.amount %></span>
  </td>
  <td class="cart-product-remove">
    <%= link_to line_item_path(line_item), method: :delete do %>
      <button><i class="ti-close"></i></button>									
    <% end %>
  </td>
</tr>