<div class="auth-form-area">
  <div class="container">
    <h2>로그인</h2>
    <div class="row">
      
      <div class="col-sm-12 col-md-6">
        

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me, style: "width: 5%;" %>
            <%= f.label :remember_me, "Canvas에 계정 저장" %>
          <% end -%>
          
          <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
            <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
          <% end -%>
          
          <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
            <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
          <%= render "devise/shared/links" %>
        <% end %>

        <div class="row" style="margin-top: 20px;">
          <div class="col-12 col-md-6">
            <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
              <%= link_to new_registration_path(resource_name), :name => 'test' do %>
                <button class="margin-little" type="button" style="font-weight: 500; float: left;">회원가입</button>
              <% end %>
            <% end -%>
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to new_password_path(resource_name) do %>
                <button class="margin-little" type="button" style="font-weight: 500; float: left;">비밀번호 찾기</button>
              <% end %>
            <% end -%>
          </div>
      </div>


      </div>
      <div class="col-sm-12 col-md-6">
          
        <img src="/images/sample_image1.jpeg" style="width: 100%;" alt="">
            
      </div>
    </div>
  </div>
</div>    