<link rel="stylesheet" href="/css/blue_background.css">
<!-- <script src="/js/siema.min.js"></script> -->

<% if !@is_mobile %>
  <%= render 'layouts/sidenav' %>
<% end %>
<div class="cz-container" <% if !@is_mobile %> style="margin-left: 70px;" <% end %>>
  <section id="magazine-header" data-background="#0021F5">
    <div class="wrapper">
      <div class="header-area">
        <p class="header-text"><%= @web_magazine_group.name %></p>
      </div>
      <div class="hr hr-thinner margin-top-10"></div>
      <div class="margin-top-20 hr orange hr-thick"></div>
      <div class="margin-top-20 hr orange hr-thick"></div>
      <div class="margin-top-20 hr orange hr-thick"></div>
    </div>
  </section>
  <% if !@is_mobile %>
    <section id="magazine-brief" data-background="#0021F5" style="padding-bottom: 50px;">
      <div class="wrapper" style="padding-right: 10px;">
        <% @web_magazines.each_with_index do |wm, index| %>
          <% if index%2 == 0 %>
            <div class="row margin-top-50">
              <div class="col-12 col-lg-4">
                <p class="magazine-brief-text-title">
                  <%= link_to "#artist-#{ wm.number }", class: "white" do %>
                    No.<%= wm.number %>
                  <% end %>
                </p>
                <div class="hr hr-thinner margin-top-10"></div>
                <p class="margin-top-20">
                  <%= wm.brief.html_safe %>
                </p>
              </div>
              <div class="col-12 col-lg-1"></div>
              <div class="col-12 col-lg-7">
                <div class="row">
                  <% wm.paintings.each do |painting| %>
                    <div class="col-12 col-lg-4">
                      <%= image_tag(painting.thumbnail.url, class: "box-shadow") %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% else %>
            <div class="row margin-top-50">
              <div class="col-12 col-lg-7">
                <div class="row">
                  <% wm.paintings.each do |painting| %>
                    <div class="col-12 col-lg-4">
                      <%= image_tag(painting.thumbnail.url, class: "box-shadow") %>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="col-12 col-lg-1"></div>
              <div class="col-12 col-lg-4">
                <p class="magazine-brief-text-title">
                  <%= link_to "#artist-#{ wm.number }", class: "white" do %>
                    No.<%= wm.number %>
                  <% end %>
                </p>
                <div class="hr hr-thinner margin-top-10"></div>
                <p class="margin-top-20">
                  <%= wm.brief.html_safe %>
                </p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </section>
  <% end %>
  <div class="siema">
    <% @web_magazines.each do |wm| %>
      <div id="artist-<%= wm.number %>">
        <img src="/images/spring_horizontal.png" alt="" style="position: absolute;">
        <section id="magazine-content" data-background="white" data-artist="<%= wm.number %>">    
          <div class="wrapper margin-top-40">
            <%= link_to web_magazine_path(wm) do %>
              <p class="magazine-content-text-title">
                No.<%= wm.number %>
              </p>
            <% end %>
            <div class="hr hr-theme-blue hr-thin margin-top-10"></div>
          </div>
          <div class="wrapper">
            <div class="artist-profile" >
              <div class="w-col w-col-3 no-padding">
                <center>
                  <img src="/images/col-4-tall.jpg" alt="">
                </center>
              </div>
              <div class="w-col w-col-1"></div>
              <div class="w-col w-col-8">
                <div class="artist-brief" >
                  <p><%= wm.brief.html_safe %></p>
                  <div class="hr hr-theme-blue hr-thinner margin-top-20"></div>
                </div>
                <% if !@is_mobile %>
                  <p style="left: 33.33333333%;" class="artist-name"><%= wm.artist_name %></p>      
                <% end %>
              </div>
              
            </div>
          </div>
        </section>

        <%= render 'magazine_interview', interviews_left: wm.interviews.where(position: "left"),
        interviews_right: wm.interviews.where(position: "right") %>

        <%= render 'magazine_paintings', paintings: wm.paintings %>

      </div>
    <% end %>
  </div>
</div>

<script src="/js/jquery_scrollie.js"></script>
<script>
$(function(){

  $(".sidenav-cz a").click(function(e) { e.preventDefault(); var dest = $(this).attr('href'); console.log(dest); $('html,body').animate({ scrollTop: $(dest).offset().top }, 'slow'); });

  const magazineContent = document.querySelector('#magazine-content');
  
  
  window.addEventListener('scroll', () => {
    var wHeight = $(window).height();

    $('section')
      .scrollie({
        scrollOffset : -50,
        scrollingInView : function(elem) {
                  
          var bgColor = elem.data('background');
          var borderColor;
          
          var artistNo = elem.data('artist');
          

          if(bgColor === "white"){
            borderColor = "#0021F5";
          } else {
            borderColor = "white";
          }
          
          $('#sidenav_cz').css('background-color', bgColor);
          $('#sidenav_cz').css('borderRight', '2px solid ' + borderColor);
          
          if(artistNo){
            $('.sidenav-item').removeClass('selected');
            $('#artist-link-' + artistNo).addClass('selected');
          }

        }
      });
  })

  // 좌우 슬라이드
  // new Siema({
  //   selector: '.siema',
  //   duration: 200,
  //   easing: 'ease-out',
  //   perPage: 1,
  //   startIndex: 0,
  //   draggable: true,
  //   multipleDrag: true,
  //   threshold: 20,
  //   loop: false,
  //   rtl: false,
  //   onInit: () => {},
  //   onChange: () => {},
  // });

})


</script>
