<style>
  #nav{
    background-color: white;
  }
  .sidenav-cz {
    transition: background 0.2s ease;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 70px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1001; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: transparent;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    border-right: 2px solid #0021F5;
  }
  .artist-brief{
    font-size: 14px !important;
  }
  section{
    overflow: auto;
  }
</style>

<div class="cz-container margin-top-50" style="margin-left: 70px;">
  <%= render 'layouts/sidenav' %>
  <section>
    <div class="wrapper">
      <p class="magazine-show-title">Magazine NO.<%= @web_magazine.number %></p>
      <div class="hr hr-thinner bg-blue margin-top-10"></div>
      <div class="magazine-header margin-top-50">
        <div class="w-col w-col-2">
          <img src="/images/col-4-tall.jpg" alt="">
          <div class="artist-brief margin-top-20">
            <p class="artist-brief">
              <%= @web_magazine.brief.html_safe %>
            </p>
          </div>
        </div>
        <div class="w-col w-col-10">
          <div class="margin-left-20">
            <p class="artist-name"><%= @web_magazine.artist_name %></p>
            <div class="magazine-content margin-top-20">
              
              <div class="w-col w-col-6 border-top-blue" style="border-right: 3px solid #0021F5;">
                <div class="wrapper margin-top-20">
                  <%= @web_magazine.content1.html_safe %>
                </div>
              </div>
              <div class="w-col w-col-6 border-top-blue">
                <div class="border-bottom-blue">
                  <div class="wrapper">
                    <p class="blue">Comment</p>
                  </div>
                </div>
                <div class="wrapper margin-top-10">
                  <%= @web_magazine.content2.html_safe %>
                </div>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <% if @interviews_left.present? && @interviews_right.present? %>
    <%= render 'magazine_interview', interviews_left: @interviews_left, interviews_right: @interviews_right %>
  <% end %>
  
  <% if @web_magazine.paintings.present? %>
    <%= render 'magazine_paintings', paintings: @web_magazine.paintings %>
  <% end %>

  <section>
    <div class="background-blue">
      <p class="white magazine-section-title">For Sale</p>
      <div class="row">
        <div class="col-7 no-padding package-large">
          <p class="magazine-section-title white package-text">Package1</p>
          <div class="wrapper narrow package-large-bottom">
            <div class="row align-items-center height-100">
              <div class="col-7">
                <%= image_tag(@web_magazine.paintings.first.thumbnail.url, class:"package-img-large") %>
              </div>
              <div class="col-5">
                <p class="white"><%= @web_magazine.paintings.first.options.first.title %></p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-5 no-padding package-small-group">
          <!-- Package2 -->
          <div class="package-small">
            <p class="magazine-section-title white package-text">Package2</p>
            <div class="wrapper narrow package-small-bottom">
              <div class="row align-items-center height-100">
                <div class="col-5">
                  <%= image_tag(@web_magazine.paintings.first.thumbnail.url, class: "package-img-small") %>
                </div>
                <div class="col-7">
                  <p class="white"><%= @web_magazine.paintings.second.options.first.title %></p>
                </div>
              </div>
            </div>
          </div>
          <!-- Package3 -->
          <div class="package-small">
            <p class="magazine-section-title white package-text">Package3</p>
            <div class="wrapper narrow package-small-bottom">
              <div class="row align-items-center height-100">
                <div class="col-5">
                  <%= image_tag(@web_magazine.paintings.first.thumbnail.url, class: "package-img-small") %>
                </div>
                <div class="col-7">
                  <p class="white"><%= @web_magazine.paintings.third.options.first.title %></p>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>

  </section>

</div>