<% if @user.email.nil? or @user.email == '' %>
  <%= form_tag(register_infoget_path, :class => 'ui large form col s12') do %>
    
    <div class="ui raised segment">
      <div class="form-group">
        <label for="email" class="ui left aligned header" >이메일</label>
        <%= text_field_tag :email, nil, class: "form-control", placeholder: "abc@example.com" %>
      </div>
      <div class="form-group">
        <label for="email" class="ui left aligned header" >닉네임</label>
        <%= text_field_tag :nickname, nil, class: "form-control", placeholder: "닉네임" %>
      </div>
      
      <div class="actions">
        <%= submit_tag "제출" %>      
      </div>

    </div>
  <% end %>
<% else %>
  <%= form_tag(register_infoget_path, :class => 'ui large form col s12') do %>
    <div class="form-group">
      <label for="nickname" >닉네임</label>
      <%= text_field_tag :nickname, nil, class: "form-control", placeholder: "닉네임" %>
    </div>
    
    <div class="actions">
      <%= submit_tag "제출" %>      
    </div>
  <% end %>
  <script>
    $(function(){
      <% if @user.nickname.present? && @user.email.present? && @user.email != '' %>
        window.location.href = '/';
      <% end %>
    })
  </script>
<% end %>

