<div class="modal fade" id="followingModal" tabindex="-1" role="dialog" aria-labelledby="followingModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="followingModalTitle">팔로우</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <% @following_members.each do |user| %>
            <li class="list-group-item" style="display: flex; align-items: center;justify-content: space-between; padding-top: 5px; padding-bottom: 5px;">
              <%= link_to profile_path(user) do %>
                <div>
                  <img style="height: 40px; width: 40px; border-radius: 20px;" src="<%= user.image.url %>" alt="">
                  <span style="margin-left: 10px;"><%= user.nickname %></span>
                </div>
              <% end %>
              <% if user_signed_in? %>
                <% if current_user.is_following(user) %>
                  <button  class="btn btn-outline-dark" data-following="true" data-user="<%= user.id %>" onclick="followUser(this)" >언팔로우</button> 
                <% else %>
                  <button  class="btn btn-outline-dark" data-following="false" data-user="<%= user.id %>" onclick="followUser(this)" >팔로우</button> 
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
