<!-- Login Modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div style="z-index: 900;" class="modal-dialog modal-dialog-centered" role="document">
    <div  class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label  :email, "메일 주소" %>
            <%= f.email_field :email, class:"form-control", autofocus: true, autocomplete: "email" %>
          </div>
        
          <div class="form-group">
            <%= f.label :password, "비밀번호" %>
            <%= f.password_field :password, class:"form-control", autocomplete: "current-password" %>
          </div>
        
          <% if devise_mapping.rememberable? -%>
            <!-- <div class="form-group"> -->
            <!-- <div class="row"> -->
              <%= f.check_box :remember_me, style: "width: 5%;" %>
              <%= f.label :remember_me, "Canvas에 계정 저장" %>
            <!-- </div> -->
          <% end -%>
          
          
          <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
            <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
          <% end -%>

        </div>
      
      <div class="modal-footer">
        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to new_registration_path(resource_name), :name => 'test', class: "white" do %>
            <button type="button" class="pull-left" style="font-weight: 500; float: left;">회원가입</button>
          <% end %>
        <% end -%>
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to new_password_path(resource_name), class: "white" do %>
            <button type="button" style="font-weight: 500; float: left;">비밀번호 찾기</button>
          <% end %>
        <% end -%>
        <button type="submit" class="btn btn-dark">로그인</button>
      </div>
      
      <% end %>
      
      <%= render "devise/shared/links" , resource: resource, resource_class: resource.class, resource_name: resource_name, devise_mapping: devise_mapping %>

    </div>
  </div>
</div>