<style>
  @import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700');
  html {
  -webkit-font-smoothing: antialiased;
  }
  body, p, a, span, h1, h2, h3, h4, h5, h6, a, div {
    font-family: 'Noto Sans KR', sans-serif !important;
  }
</style>
<% if @is_mobile %>
  <div data-collapse="medium" data-animation="default" data-duration="500" data-easing="ease-out-expo" data-easing2="ease-in-out" data-no-scroll="1" id="nav" class="nav-cz w-nav">
    <div class="wrapper w-container">
       <div class="nav-body">
          <a href="/" class="nav-brand w-nav-brand">
             <% if @is_mobile %>
                <p style="font-weight: 550;padding-top:28px; padding-bottom: auto;">Chack N Zzick</p>
  
             <% else %> 
                <p style="font-weight: 550;padding-top:43px; padding-bottom: auto;">Chack N Zzick</p>
             <% end %>
          </a>
          
          
          <nav role="navigation" class="nav-menu w-nav-menu">
             <a href="/paintings" class="nav-item is-last-h w-nav-link">Paintings</a>
             <a href="/web_magazines" class="nav-item is-last-h w-nav-link">Magazine</a>   
             <a href="/about" class="nav-item is-last-h w-nav-link">About</a>
             <a href="/notices" class="nav-item is-last-h w-nav-link">Notice</a>
             <a href="/faqs" class="nav-item is-last-h w-nav-link">FAQ</a>
             
            
               
             <% if user_signed_in? %>
                <%= link_to 'Mypage', profiles_path, class:"nav-item is-last-h w-nav-link" %>
                <%= link_to 'Logout', destroy_user_session_path, class:"nav-item is-last-h w-nav-link", method: :delete %>
             <% else %>
                <a href="/users/sign_in" class="nav-item is-last-h w-nav-link">Login</a>
             <% end %>
          </nav>
          <div data-w-id="b2f9f39b-9e6e-8e20-21eb-f0d9828fe86c" class="nav-toggle w-nav-button"><img src="/img/5b13ec2c541a846f4d141dd0_icon-menu.svg" width="28" data-w-id="b2f9f39b-9e6e-8e20-21eb-f0d9828fe86d" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" alt="" class="nav-icon"/><img src="/img/5b13ef75541a841daa141eec_icon-close.svg" data-w-id="b2f9f39b-9e6e-8e20-21eb-f0d9828fe86e" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" alt="" class="nav-icon-close"/></div>
       </div>
       <div class="hr hr-thin"></div>
    </div>
  </div>
<% else %>
  <div data-collapse="medium" data-animation="default" data-duration="500" data-easing="ease-out-expo" data-easing2="ease-in-out" data-no-scroll="1" id="nav"
  class="nav-cz w-nav <% if controller_name=='web_magazines' %>margin-sidebar<% end %>">
    <!-- 좌측 sidebar 때문에 left-margin 줘야 함 --> 
    <div class="wrapper w-container" >
       <div class="nav-body">
          <a href="/" class="nav-brand w-nav-brand">
             <% if @is_mobile %>
                <p style="font-weight: 550;padding-top:28px; padding-bottom: auto;">Chack N Zzick</p>
             <% else %> 
                <p style="font-weight: 550;padding-top:43px; padding-bottom: auto;">Chack N Zzick</p>
             <% end %>
          </a>
          <a href="" class="nav-item is-last-h w-nav-link nav-left">|</a>
          <div class="dropdown nav-item is-last-h w-nav-link nav-left">Paintings
            <div class="dropdown-content">
               <%= link_to 'Package', paintings_path(only_commerce: true) %>
               <%= link_to 'All', paintings_path %>
            </div>
          </div>
          <a href="/web_magazines" class="nav-item is-last-h w-nav-link nav-left">Magazine</a>
          <nav role="navigation" class="nav-menu w-nav-menu">
             <a href="/about" class="nav-item is-last-h w-nav-link">About</a>
             <a href="/notices" class="nav-item is-last-h w-nav-link">Notice</a>
             <a href="/faqs" class="nav-item is-last-h w-nav-link">FAQ</a>
             <% if user_signed_in? %>
               <div class="dropdown nav-item is-last-h w-nav-link">
                  <%= current_user.nickname %>
                  <div class="dropdown-content">
                     <%= link_to 'My page', profile_path(current_user.id) %>                    
                     <%= link_to 'Account', profiles_path, class:"nav-item is-last-h w-nav-link" %>
                     <%= link_to 'Logout', destroy_user_session_path, class:"nav-item is-last-h w-nav-link", method: :delete %>
                     <%= link_to 'Message', messages_path %>
                     <%= link_to 'Orders', order_list_orders_path, class: "white" %>
                     <%= link_to 'Cart', cart_orders_path, class: "white" %>
                  </div>
               </div>
             <% else %>
                <!-- <a href="/users/sign_in" class="nav-item is-last-h w-nav-link">Login</a> -->
                <%= link_to 'Login',
                  '', 
                  data: { toggle: 'modal', target: '#login-modal' },
                  class:"nav-item is-last-h w-nav-link"
                %>
             <% end %>
          </nav>
          <div data-w-id="b2f9f39b-9e6e-8e20-21eb-f0d9828fe86c" class="nav-toggle w-nav-button"><img src="/img/5b13ec2c541a846f4d141dd0_icon-menu.svg" width="28" data-w-id="b2f9f39b-9e6e-8e20-21eb-f0d9828fe86d" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" alt="" class="nav-icon"/><img src="/img/5b13ef75541a841daa141eec_icon-close.svg" data-w-id="b2f9f39b-9e6e-8e20-21eb-f0d9828fe86e" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" alt="" class="nav-icon-close"/></div>
       </div>
      <div class="hr hr-thin" style="float: left;"></div>   
    </div>
    
  </div>
<% end %>
