<!DOCTYPE html>
<html data-wf-page="chacknzzick_page" data-wf-site="chacknzzick_site">
	<head>
		<meta charset="utf-8"/>
		<title>Chack&Zzick</title>
		<meta content="착 & 찍은 마음에 드는 작업물을 자유롭게 공유 / 거래하는 공간입니다. 여러분의 마음에 착~ 붙는 그래픽을 찾아보세요 !" name="description"/>
		<meta content="Chack & Zzick" property="og:title"/>
		<meta content="착 & 찍은 마음에 드는 작업물을 자유롭게 공유 / 거래하는 공간입니다. 여러분의 마음에 착~ 붙는 그래픽을 찾아보세요 !" property="og:description"/>
		<!-- <meta content="" property="og:image"/> -->
		<!-- <meta content="summary" name="twitter:card"/> -->
		<meta content="width=device-width, initial-scale=1" name="viewport"/>
		
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag    'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>
		
		<script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
		
		<title>Chack&Zzick</title>
		<!-- Favicon -->
		<!-- ionicons -->
		<script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>

		<link href="/plugins/themify/themify-icons.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/css/bootstrap-datepicker.css">
		<link href="/plugins/owl-carousel/owl.carousel.min.css" rel="stylesheet">
		<link href="/plugins/owl-carousel/owl.theme.default.min.css" rel="stylesheet">
		<link href="/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/css/animate.css">

		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

		<!-- Black & White Theme -->
		<link href="/css/app.css" rel="stylesheet">
		<!-- Chack&Zzick Customization -->
		<link href="/css/main_page.css" rel="stylesheet" type="text/css"/>
		<link href="/css/cz_customize.css" rel="stylesheet" type="text/css"/>
		<!-- Fonts/Icons -->
		
		<script src="/plugins/jquery.min.js"></script>
		<script src = "/js/jquery-ui.js"></script>
		<script type="text/javascript" src="/js/touch-punch.js"></script>
		<script src="/plugins/bootstrap/popper.min.js"></script>

		<script src="/plugins/masonry.pkgd.min.js"></script>
		<script src="/plugins/bootstrap/bootstrap.min.js"></script>
		<script src="/plugins/imagesloaded.pkgd.min.js"></script>
		<script src="/plugins/isotope.pkgd.min.js"></script>
		<script src="/plugins/owl-carousel/owl.carousel.min.js"></script>
		<!-- Scripts -->
		<script src="/js/functions.js"></script>	
		<script src="/js/bootstrap-datepicker.js"></script>
		
	</head>
	<body data-preloader="2">
		<%= render 'layouts/navbar' %>		
		<!-- end Scroll to top button -->
		<div class="page" data-page="<%= controller_name %>-<%= action_name %>">
			<div class="recent-paintings" id="recent-paintings">
				<% if @recent_paintings.present? && !@is_mobile %>
					<% @recent_paintings.each do |painting| %>
						<%= link_to painting_path(painting) do %>
							<%= image_tag painting.thumbnail.url, class: "recent-paintings-icon" %>
						<% end %>
					<% end %>
				<% end %>
			</div>
			<%= yield %>
		</div>
		
		<%= render 'layouts/script' %>
		<%= render 'layouts/toast' %>
		<%= render 'layouts/login_modal', resource: User.new, resource_name: :user, devise_mapping: Devise.mappings[:user] %>
		<!-- ***** JAVASCRIPTS ***** -->

		<!-- Plugins -->
		<!-- IAMPORT -->
		
		<!-- Main page js -->
		<script src="/js/main.js" type="text/javascript"></script>

	</body>
</html>
