<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
		<title>Canvas Factory</title>
		<!-- Favicon -->
        <link href="/images/favicon.png" rel="shortcut icon">
		<!-- CSS -->
		<link href="/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="/plugins/owl-carousel/owl.carousel.min.css" rel="stylesheet">
		<link href="/plugins/owl-carousel/owl.theme.default.min.css" rel="stylesheet">
		<link href="/plugins/magnific-popup/magnific-popup.min.css" rel="stylesheet">
		<link href="/css/app.css" rel="stylesheet">
		<!-- Fonts/Icons -->
		<link href="/plugins/font-awesome/css/all.css" rel="stylesheet">
		<link href="/plugins/themify/themify-icons.min.css" rel="stylesheet">
		<!-- SEMANTIC_UI (SNS LOGIN) -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

		<!-- IONICONS -->
		<link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">
		<!-- Libraries -->
		
		<script src="/plugins/jquery.min.js"></script>
		<!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script> -->
		<script src="/plugins/bootstrap/popper.min.js"></script>
				
		<!-- ANIMATE CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
	</head>
	<body data-preloader="2">
		
		<header>
			<!-- navbar -->
			<nav class="navbar navbar-absolute-dark"><!-- add 'navbar-dark/navbar-grey/navbar-transparent/navbar-transparent-dark' -->
				<div class="container">
					<%= link_to root_path, class: "navbar-brand" do %>
						<h5>Canvas</h5>
					<% end %>
					<ul class="nav dropdown-dark"><!-- add 'dropdown-dark/dropdown-grey/dropdown-transparent/dropdown-transparent-dark' -->
						<!-- Basic link -->
						<li class="nav-item">
							<%= link_to 'Paintings', paintings_path, class:"nav-link" %>
						</li>
						<li class="nav-item">
							<%= link_to 'Magazines', magazines_path, class:"nav-link" %>
						</li>
							<!-- <a class="nav-link" href="#">Link Only</a> -->
						<li class="nav-item">
							<% if current_user.present? %>
								<%= link_to 'Logout', destroy_user_session_path, class:"nav-link", method: :delete %>
							<% else %>
								<%= link_to 'Login',
										'', 
										data: { toggle: 'modal', target: '#login-modal' },
										class:"nav-link"
									%>
							<% end %>
						</li>
		
						<!-- Dropdown -->
						<% if user_signed_in? %>

						<li class="nav-item nav-dropdown">
							<a class="nav-link" href="#">
								
								<%= current_user.nickname %>
									<span id="notification-count" class="badge badge-dark">
										<%= current_user.arrived_messages.count %>
									</span>
							</a>
				      <ul class="dropdown-menu">
								<li>
									<%= link_to messages_path do %>
										쪽지 
										<span style="float: right;" class="badge badge-light">
											<%= current_user.arrived_messages.count %>
										</span>
									<% end %>
								</li>	
								<li>
									<%= link_to '마이페이지', profiles_path %>
								</li>
								<li>
									<%= link_to '프로필', profile_path(current_user.id) %>
								</li>
							</ul>
						</li>
						<% end %>

						<!-- Sub Dropdown -->
						<!-- <li class="nav-item nav-dropdown">
							<a class="nav-link" href="#">Sub Dropdown</a>
				        	<ul class="dropdown-menu">
								<li class="sub-dropdown">
									<a href="#">Subdropdown 1</a>
									<div class="sub-dropdown-menu">
										<a href="#">Subdropdown link 1</a>
										<a href="#">Subdropdown link 2</a>
										<a href="#">Subdropdown link 3</a>
										<a href="#">Subdropdown link 4</a>
									</div>
								</li>
								<li class="sub-dropdown">
									<a href="#">Subdropdown 2</a>
									<div class="sub-dropdown-menu">
										<a href="#">Subdropdown link 1</a>
										<a href="#">Subdropdown link 2</a>
										<a href="#">Subdropdown link 3</a>
										<a href="#">Subdropdown link 4</a>
									</div>
								</li>
								<li class="sub-dropdown">
									<a href="#">Subdropdown 3</a>
									<div class="sub-dropdown-menu">
										<a href="#">Subdropdown link 1</a>
										<a href="#">Subdropdown link 2</a>
										<a href="#">Subdropdown link 3</a>
										<a href="#">Subdropdown link 4</a>
									</div>
								</li>
							</ul>
						</li> -->
						<% if false %>
						<!-- Mega Dropdown -->
						<li class="nav-item nav-megadropdown">
							<a class="nav-link" href="#">Mega Menu</a>
							<div class="mega-menu">
								<div class="row">
									<!-- Mega menu column 1 -->
									<div class="col-12 col-lg-3">
										<h6 class="heading-uppercase margin-bottom-20">Themify Icons</h6>
										<ul class="list-unstyled">
											<li><i class="ti-check-box"></i><a href="#">Link 1</a></li>
											<li><i class="ti-check-box"></i><a href="#">Link 2</a></li>
											<li><i class="ti-check-box"></i><a href="#">Link 3</a></li>
											<li><i class="ti-check-box"></i><a href="#">Link 4</a></li>
										</ul>
									</div>
									<!-- Mega menu column 2 -->
									<div class="col-12 col-lg-3">
										<h6 class="heading-uppercase margin-bottom-20">FontAwesome</h6>
										<ul class="list-unstyled">
											<li><i class="far fa-check-square"></i><a href="#">Link 1</a></li>
											<li><i class="far fa-check-square"></i><a href="#">Link 2</a></li>
											<li><i class="far fa-check-square"></i><a href="#">Link 3</a></li>
											<li><i class="far fa-check-square"></i><a href="#">Link 4</a></li>
										</ul>
									</div>
									<!-- Mega menu column 3 -->
									<div class="col-12 col-lg-3">
										<h6 class="heading-uppercase margin-bottom-20">Basic</h6>
										<ul class="list-unstyled">
											<li><a href="#">Link 1</a></li>
											<li><a href="#">Link 2</a></li>
											<li><a href="#">Link 3</a></li>
											<li><a href="#">Link 4</a></li>
										</ul>
									</div>
									<!-- Mega menu column 4 -->
									<div class="col-12 col-lg-3">
										<h6 class="heading-uppercase margin-bottom-20">list-icon</h6>
										<ul class="list-icon list-icon-heart">
											<li><a href="#">Link 1</a></li>
											<li><a href="#">Link 2</a></li>
											<li><a href="#">Link 3</a></li>
											<li><a href="#">Link 4</a></li>
										</ul>
									</div>
								</div><!-- end row -->
							</div>
						</li>
						<% end %>
					</ul><!-- end nav -->
					<!-- Nav Toggle button -->
					<button class="nav-toggle-btn">
							<span class="lines"></span>
					</button><!-- toggle button will show when screen resolution is less than 992px -->
				</div><!-- end container -->
			</nav>
			<!-- end navbar -->
		</header>

		<!-- Scroll to top button -->
		<div class="scrolltotop">
			<a class="button-circle button-circle-sm button-circle-dark" href="#"><i class="ti-arrow-up"></i></a>
		</div>
		<!-- end Scroll to top button -->
		<div class="page" data-page="<%= controller_name %>-<%= action_name %>">
			
			<%= yield %>

		</div>
		<%= render 'layouts/script' %>
		<%= render 'layouts/toast' %>
		<%= render 'layouts/login_modal', resource: User.new, resource_name: :user, devise_mapping: Devise.mappings[:user] %>
		<!-- ***** JAVASCRIPTS ***** -->

		<!-- Plugins -->
		<script src="https://unpkg.com/ionicons@4.5.1/dist/ionicons.js"></script>
		<script src="/plugins/masonry.pkgd.min.js"></script>
		<script src="/plugins/bootstrap/bootstrap.min.js"></script>
		<script src="/plugins/appear.min.js"></script>
		<script src="/plugins/easing.min.js"></script>
		<script src="/plugins/retina.min.js"></script>
		<script src="/plugins/countdown.min.js"></script>
		<script src="/plugins/imagesloaded.pkgd.min.js"></script>
		<script src="/plugins/isotope.pkgd.min.js"></script>
		<script src="/plugins/jarallax/jarallax.min.js"></script>
		<script src="/plugins/jarallax/jarallax-video.min.js"></script>
		<script src="/plugins/jarallax/jarallax-element.min.js"></script>
		<script src="/plugins/magnific-popup/magnific-popup.min.js"></script>
		<script src="/plugins/owl-carousel/owl.carousel.min.js"></script>
		<!-- SEMENTIC_UI(SNS 로그인) -->
		<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
		<!-- Place your API Key in 'YOUR_API_KEY'
		You can get Google API key here: 'https://developers.google.com/maps/documentation/javascript/get-api-key' -->
		<!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"></script> -->
		<!-- <script src="/plugins/gmaps.min.js"></script> -->
		<!-- Scripts -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker3.min.css">

    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>

		<script src="/js/bootstrap-datepicker.js"></script>
		<script src="/js/functions.js"></script>
		
	</body>
</html>
